@model object

<script type="text/javascript">
	$(function () {
		var root = window.IssueTracker || (window.IssueTracker = {});
		root.selectedIssue = createNestedObservables(@Html.Raw(Json.Encode(Model)));
	});
</script>

<div class="container notop table">
	<div class="breadcrumbs">
		<a class="clickable" data-bind="attr: { href: '#/' + IssueTracker.selectedProject().name.formatForUrl() + '/issues' }">
			<i class="fa fa-home"></i>
			<span data-bind="text: IssueTracker.selectedProject().name"></span>
		</a>
		<i class="fa fa-angle-right"></i>
		<a>
			<span data-bind="text: 'Issue #' + IssueTracker.selectedIssue.number()"></span>
		</a>
	</div>
	
	<div class="issue-buttons">
		<img id="transition-loader" class="hidden" src="@Url.Content("~/Images/ajax-loader.gif")" alt="" data-bind="css: { hidden: !IssueTracker.Transitioner.transitioning() }" />
		<div class="transitions">
			<button class="icon hidden" data-bind="css: { hidden: IssueTracker.Transitioner.backStatus() == undefined }, attr: { 'data-status-id': IssueTracker.Transitioner.backStatus() ? IssueTracker.Transitioner.backStatus().id : '', disabled: IssueTracker.Transitioner.transitioning }">
				<i class="fa fa-angle-left"></i>
				<span data-bind="text: IssueTracker.Transitioner.backStatus() == undefined ? '' : 'Back to ' + IssueTracker.Transitioner.backStatus().name"></span>
			</button>
			<div data-bind="foreach: IssueTracker.selectedIssue.transitions">
				<button class="icon right" data-bind="attr: { 'data-status-id': toId, disabled: IssueTracker.Transitioner.transitioning }">
					<span data-bind="text: name"></span>
					<i class="fa fa-angle-right"></i>
				</button>
			</div>
		</div>
		<div class="always">
			<button>Duplicate Issue</button>
			<button>Delete Issue</button>
		</div>
	</div>
</div>

<div class="container">
	<div class="tile number">
		<h1 data-bind="text: IssueTracker.selectedIssue.number"></h1>
	</div>
	
	<div class="name-container perspective">
		<div class="flipper transition name">
			<div class="tile flip-tile front">
				<h1 data-bind="text: IssueTracker.selectedIssue.name"></h1>
				<i class="fa fa-angle-down"></i>
			</div>
			<div class="tile flip-tile back">
				<div class="back-container">
					<div class="input-container"> <!-- 100% -->
						<div> <!-- margined -->
							<input type="text" data-bind="value: IssueTracker.selectedIssue.name" />
						</div>
					</div>
					<div class="buttons">
						<button id="save-name">Save</button>
						<button id="discard-name">Discard</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="description">
		<div class="perspective">
			<div class="flipper transition">
				<div class="tile flip-tile front">
					<h3>What's the problem?</h3>
					<div data-bind="text: IssueTracker.selectedIssue.description"></div>
					<div class="down-arrow">
						<i class="fa fa-angle-down"></i>
					</div>
				</div>

				<div class="tile flip-tile back">
					<textarea data-bind="value: IssueTracker.selectedIssue.description"></textarea>
					<div class="buttons">
						<img src="@Url.Content("~/Images/ajax-loader.gif")" alt="" />
						<button id="save-description">Save</button>
						<button id="discard-description">Discard</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="tile selectable-details details">
		<div class="selectable" id="priority">
			<span class="title">Priority</span>
			<i class="fa fa-angle-down"></i>
			<span class="info" data-bind="text: IssueTracker.selectedIssue.priority"></span>
		</div>
		<div class="selectable">
			<span class="title">Status</span>
			<i class="fa fa-angle-down"></i>
			<span class="info" data-bind="text: IssueTracker.selectedIssue.status"></span>
		</div>
		<div class="selectable">
			<span class="title">Assignee</span>
			<i class="fa fa-angle-down"></i>
			<span class="info" data-bind="text: IssueTracker.selectedIssue.assignee"></span>
		</div>
		<div class="selectable">
			<span class="title">Owner</span>
			<i class="fa fa-angle-down"></i>
			<span class="info" data-bind="text: IssueTracker.selectedIssue.owner"></span>
		</div>
	</div>
	
	<div class="tile static-details details">
		<div>
			<span class="title">Date Opened</span>
			<span class="info" data-bind="text: IssueTracker.selectedIssue.opened"></span>
		</div>
		<div>
			<span class="title">Date Closed</span>
			<span class="info" data-bind="text: IssueTracker.selectedIssue.closed"></span>
		</div>
	</div>
</div>