<div class="tile table-tools">
	<div class="filter-tags">
		<div class="loading hidden">
			<img src="@Url.Content("~/Images/ajax-loader.gif")" alt="" />
		</div>
		<div class="filters">
			<div id="saved-filter">
				<span>Saved Filter</span>
				<i class="fa fa-angle-down"></i>
			</div>
			<div id="priority-filter">
				<span data-bind="css: { selected: selectedPriority() != undefined }, text: selectedPriority() ? selectedPriority().name : 'Priority'"></span>
				<i class="fa fa-angle-down"></i>
			</div>
			<div id="status-filter">
				<span data-bind="css: { selected: selectedStatus() != undefined }, text: selectedStatus() ? selectedStatus().name : 'Status'"></span>
				<i class="fa fa-angle-down"></i>
			</div>
			<div id="developer-filter">
				<span data-bind="css: { selected: selectedDeveloper() != undefined }, text: selectedDeveloper() ? selectedDeveloper().Name : 'Developer'"></span>
				<i class="fa fa-angle-down"></i>
			</div>
			<div id="tester-filter">
				<span data-bind="css: { selected: selectedTester() != undefined }, text: selectedTester() ? selectedTester().Name : 'Tester'"></span>
				<i class="fa fa-angle-down"></i>
			</div>
			<div id="text-filter">
				<span data-bind="css: { selected: filter() != '' }, text: filter() != '' ? filter() : 'Text Filter'"></span>
				<i class="fa fa-angle-down"></i>
			</div>
		</div>
	</div>
	<div class="tools">
		<i id="sort" class="fa fa-sort-alpha-asc"></i>
		<i class="fa fa-gear"></i>
	</div>
</div>

<div class="tile issues-container table">
	<div class="data" data-bind="foreach: list">
		<a data-bind="attr: { 'data-issue': JSON.stringify($data), href: '#/' + IssueTracker.selectedProject().name.formatForUrl() + '/issues/' + name.formatForUrl() }">
			<div>
				<div data-bind="attr: { class: 'priority ' + priorityStyle }"></div>
				<div class="ellipsis name">
					<h2 class="name" data-bind="text: name"></h2>
					<span class="info">Last updated by <b data-bind="text: updatedBy"></b> at <b data-bind="text: lastUpdated"></b>.</span>
				</div>
				<div class="status" data-bind="text: status"></div>
			</div>
		</a>
	</div>
	<div class="loading tile">
		<img src="@Url.Content("~/Images/ajax-loader.gif")" alt="" />
	</div>
</div>

<script id="priority-filter-dialog" type="text/html">
	<div class="selector select-popup priority-filter-dialog" data-bind="foreach: priorities">
		<div>
			<div data-bind="text: name, attr: { 'data-priority': JSON.stringify($data), class: name.toLowerCase() + (IssueTracker.Issues.selectedPriority() && IssueTracker.Issues.selectedPriority().name == name ? ' selected' : '') }"></div>
		</div>
	</div>
</script>

<script id="status-filter-dialog" type="text/html">
	<div class="selector select-popup status-filter-dialog" data-bind="foreach: statuses">
		<div>
			<div data-bind="text: name, attr: { 'data-status': JSON.stringify($data), class: name.toLowerCase() + (IssueTracker.Issues.selectedStatus() && IssueTracker.Issues.selectedStatus().name == name ? ' selected' : '') }"></div>
		</div>
	</div>
</script>

<script id="developer-filter-dialog" type="text/html">
	<div class="selector select-popup developer-filter-dialog" data-bind="foreach: users">
		<div>
			<div data-bind="text: Name, attr: { 'data-developer': JSON.stringify($data), class: Name.toLowerCase() + (IssueTracker.Issues.selectedDeveloper() && IssueTracker.Issues.selectedDeveloper().Name == Name ? ' selected' : '') }"></div>
		</div>
	</div>
</script>

<script id="tester-filter-dialog" type="text/html">
	<div class="selector select-popup tester-filter-dialog" data-bind="foreach: users">
		<div>
			<div data-bind="text: Name, attr: { 'data-tester': JSON.stringify($data), class: Name.toLowerCase() + (IssueTracker.Issues.selectedTester() && IssueTracker.Issues.selectedTester().Name == Name ? ' selected' : '') }"></div>
		</div>
	</div>
</script>

<script id="text-filter-dialog" type="text/html">
	<div class="text-filter-dialog">
		<input type="text" data-bind="value: $root" />
		<div class="buttons">
			<button class="set-filter">Filter</button>
			<button class="clear-filter">Clear</button>
		</div>
	</div>
</script>

<script id="sort-dialog" type="text/html">
	<div class="selector select-popup sort-dialog">
		<div data-comparer="name">
			<span>Description</span>
			<i data-direction="descending" class="fa fa-angle-down" data-bind="css: { selected: direction() == 'descending' && comparer() == 'name' }"></i>
			<i data-direction="ascending" class="fa fa-angle-up" data-bind="css: { selected: direction() == 'ascending' && comparer() == 'name' }"></i>
		</div>
		<div data-comparer="priority">
			<span>Priority</span>
			<i data-direction="descending" class="fa fa-angle-down" data-bind="css: { selected: direction() == 'descending' && comparer() == 'priority' }"></i>
			<i data-direction="ascending" class="fa fa-angle-up" data-bind="css: { selected: direction() == 'ascending' && comparer() == 'priority' }"></i>
		</div>
		<div data-comparer="status">
			<span>Status</span>
			<i data-direction="descending" class="fa fa-angle-down" data-bind="css: { selected: direction() == 'descending' && comparer() == 'status' }"></i>
			<i data-direction="ascending" class="fa fa-angle-up" data-bind="css: { selected: direction() == 'ascending' && comparer() == 'status' }"></i>
		</div>
		<div data-comparer="tester">
			<span>Tester</span>
			<i data-direction="descending" class="fa fa-angle-down" data-bind="css: { selected: direction() == 'descending' && comparer() == 'tester' }"></i>
			<i data-direction="ascending" class="fa fa-angle-up" data-bind="css: { selected: direction() == 'ascending' && comparer() == 'tester' }"></i>
		</div>
		<div data-comparer="developer">
			<span>Developer</span>
			<i data-direction="descending" class="fa fa-angle-down" data-bind="css: { selected: direction() == 'descending' && comparer() == 'developer' }"></i>
			<i data-direction="ascending" class="fa fa-angle-up" data-bind="css: { selected: direction() == 'ascending' && comparer() == 'developer' }"></i>
		</div>
		<div data-comparer="opened">
			<span>Date Opened</span>
			<i data-direction="descending" class="fa fa-angle-down" data-bind="css: { selected: direction() == 'descending' && comparer() == 'opened' }"></i>
			<i data-direction="ascending" class="fa fa-angle-up" data-bind="css: { selected: direction() == 'ascending' && comparer() == 'opened' }"></i>
		</div>
		<div data-comparer="closed">
			<span>Date Closed</span>
			<i data-direction="descending" class="fa fa-angle-down" data-bind="css: { selected: direction() == 'descending' && comparer() == 'closed' }"></i>
			<i data-direction="ascending" class="fa fa-angle-up" data-bind="css: { selected: direction() == 'ascending' && comparer() == 'closed' }"></i>
		</div>
	</div>
</script>

<script id="saved-filter-dialog" type="text/html">
	<div class="saved-filter-dialog">
		<div class="header tile">
			<h1>New Filter</h1>
			<div class="buttons">
				<button class="icon" id="save-filter">
					<i class="fa fa-check"></i>	
					<span>Save</span>
				</button>
				<button class="icon" id="discard-filter">
					<i class="fa fa-times"></i>
					<span>Discard</span>
				</button>
			</div>
		</div>
		<div class="name tile">
			<input type="text" placeholder="Filter name..." />
		</div>
		<div class="choices">
			<div class="priority selector tile" data-bind="foreach: priorities">
				<div>
					<span data-bind="text: name"></span>
					<i class="fa fa-check"></i>
				</div>
			</div>
			<div class="status selector tile" data-bind="foreach: statuses">
				<div>
					<span data-bind="text: name"></span>
					<i class="fa fa-check"></i>
				</div>
			</div>
			<div class="developer selector tile" data-bind="foreach: users">
				<div>
					<span data-bind="text: name"></span>
					<i class="fa fa-check"></i>
				</div>
			</div>
			<div class="tester selector tile" data-bind="foreach: users">
				<div>
					<span data-bind="text: name"></span>
					<i class="fa fa-check"></i>
				</div>
			</div>
		</div>
	</div>
</script>