<div class="tile table-tools">
	<div class="filter-tags">
		<div id="priority-filter">
			<span data-bind="css: { selected: IssueTracker.Issues.priorityFilterModel.selectedPriority() != undefined }, text: IssueTracker.Issues.priorityFilterModel.selectedPriority() || 'Priority'">Priority</span>
			<i class="fa fa-angle-down"></i>
		</div>
		<div id="status-filter">
			<span>Status</span>
			<i class="fa fa-angle-down"></i>
		</div>
		<div id="assignee-filter">
			<span>Assignee</span>
			<i class="fa fa-angle-down"></i>
		</div>
		<div id="owner-filter">
			<span>Owner</span>
			<i class="fa fa-angle-down"></i>
		</div>
	</div>
	<div class="tools">
		<i class="fa fa-sort-alpha-asc"></i>
		<i class="fa fa-gear"></i>
	</div>
	<div class="filter">
		<input type="text" placeholder="Filter..." data-bind="value: IssueTracker.Issues.filter"/>
		<i class="fa fa-times"></i>
	</div>
</div>

<div class="tile issues-container table">
	<table>
		<thead>
			<tr>
				<th style="width:10px;" class="priority"></th>
				<th></th>
				<th style="width:100px;">Status</th>
				<th style="width:100px;">Owner</th>
				<th style="width:100px;">Assignee</th>
				<th style="width:70px;">Opened</th>
				<th style="width:70px;">Closed</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: IssueTracker.Issues.list">
			<tr>
				<td data-bind="attr: { class: 'priority ' + priorityStyle }"></td>
				<td class="ellipsis name">
					<span class="name" data-bind="text: name, attr: { class: 'name ' + priorityStyle }"></span>
					<span class="description" data-bind="text: description"></span>
				</td>
				<td data-bind="text: status"></td>
				<td data-bind="text: owner"></td>
				<td data-bind="text: assignee"></td>
				<td data-bind="text: opened"></td>
				<td data-bind="text: closed"></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="7">
					<img src="@Url.Content("~/Images/ajax-loader.gif")" alt=""/>
				</td>
			</tr>
		</tfoot>
	</table>
</div>

<script id="priority-filter-dialog" type="text/html">
	<div class="priority-filter-dialog" data-bind="foreach: priorities">
		<div data-bind="text: Name, attr: { class: Name.toLowerCase() + ($root.selectedPriority() == Name ? ' selected' : '') }"></div>
	</div>
</script>