<div class="tile table-tools">
	<div class="filter-tags">
		<div class="loading hidden">
			<img src="@Url.Content("~/Images/ajax-loader.gif")" alt="" />
		</div>
		<div class="filters">
			<div id="view">
				<span>View</span>
				<i class="fa fa-angle-down"></i>
			</div>
			<div id="priority-filter">
				<span data-bind="css: { selected: selectedPriority() != undefined }, text: selectedPriority() ? selectedPriority().Name : 'Priority'"></span>
				<i class="fa fa-angle-down"></i>
			</div>
			<div id="status-filter">
				<span data-bind="css: { selected: selectedStatus() != undefined }, text: selectedStatus() ? selectedStatus().name : 'Status'"></span>
				<i class="fa fa-angle-down"></i>
			</div>
			<div id="developer-filter">
				<span data-bind="css: { selected: selectedDeveloper() != undefined }, text: selectedDeveloper() ? selectedDeveloper().Name : 'Developer'"></span>
				<i class="fa fa-angle-down"></i>
			</div>
			<div id="tester-filter">
				<span data-bind="css: { selected: selectedTester() != undefined }, text: selectedTester() ? selectedTester().Name : 'Tester'"></span>
				<i class="fa fa-angle-down"></i>
			</div>
			<div id="text-filter">
				<span data-bind="css: { selected: filter() != '' }, text: filter() != '' ? filter() : 'Text Filter'"></span>
				<i class="fa fa-angle-down"></i>
			</div>
		</div>
	</div>
	<div class="tools">
		<i id="sort" class="fa fa-sort-alpha-asc"></i>
		<i class="fa fa-gear"></i>
	</div>
</div>

<div class="tile issues-container table">
	<div class="data" data-bind="foreach: list">
		<a data-bind="attr: { 'data-issue': JSON.stringify($data), href: '#/' + IssueTracker.selectedProject().name.formatForUrl() + '/issues/' + name.formatForUrl() }">
			<div data-bind="attr: { class: 'priority ' + priorityStyle }"></div>
			<div class="ellipsis name">
				<div>
					<h3 class="name" data-bind="text: name"></h3>
					<span class="info">Last updated by <b data-bind="text: updatedBy"></b> at <b data-bind="text: lastUpdated"></b>.</span>
				</div>
			</div>
			<div class="status">
				<span data-bind="text: status"></span>
			</div>
		</a>
	</div>
	<div class="loading tile">
		<img src="@Url.Content("~/Images/ajax-loader.gif")" alt="" />
	</div>
</div>

<script id="sort-dialog" type="text/html">
	<div class="select-dialog sort-dialog">
		<div data-comparer="name">
			<span>Description</span>
			<i data-direction="descending" class="fa fa-angle-down" data-bind="css: { selected: direction() == 'descending' && comparer() == 'name' }"></i>
			<i data-direction="ascending" class="fa fa-angle-up" data-bind="css: { selected: direction() == 'ascending' && comparer() == 'name' }"></i>
		</div>
		<div data-comparer="priority">
			<span>Priority</span>
			<i data-direction="descending" class="fa fa-angle-down" data-bind="css: { selected: direction() == 'descending' && comparer() == 'priority' }"></i>
			<i data-direction="ascending" class="fa fa-angle-up" data-bind="css: { selected: direction() == 'ascending' && comparer() == 'priority' }"></i>
		</div>
		<div data-comparer="status">
			<span>Status</span>
			<i data-direction="descending" class="fa fa-angle-down" data-bind="css: { selected: direction() == 'descending' && comparer() == 'status' }"></i>
			<i data-direction="ascending" class="fa fa-angle-up" data-bind="css: { selected: direction() == 'ascending' && comparer() == 'status' }"></i>
		</div>
		<div data-comparer="tester">
			<span>Tester</span>
			<i data-direction="descending" class="fa fa-angle-down" data-bind="css: { selected: direction() == 'descending' && comparer() == 'tester' }"></i>
			<i data-direction="ascending" class="fa fa-angle-up" data-bind="css: { selected: direction() == 'ascending' && comparer() == 'tester' }"></i>
		</div>
		<div data-comparer="developer">
			<span>Developer</span>
			<i data-direction="descending" class="fa fa-angle-down" data-bind="css: { selected: direction() == 'descending' && comparer() == 'developer' }"></i>
			<i data-direction="ascending" class="fa fa-angle-up" data-bind="css: { selected: direction() == 'ascending' && comparer() == 'developer' }"></i>
		</div>
		<div data-comparer="opened">
			<span>Date Opened</span>
			<i data-direction="descending" class="fa fa-angle-down" data-bind="css: { selected: direction() == 'descending' && comparer() == 'opened' }"></i>
			<i data-direction="ascending" class="fa fa-angle-up" data-bind="css: { selected: direction() == 'ascending' && comparer() == 'opened' }"></i>
		</div>
		<div data-comparer="closed">
			<span>Date Closed</span>
			<i data-direction="descending" class="fa fa-angle-down" data-bind="css: { selected: direction() == 'descending' && comparer() == 'closed' }"></i>
			<i data-direction="ascending" class="fa fa-angle-up" data-bind="css: { selected: direction() == 'ascending' && comparer() == 'closed' }"></i>
		</div>
	</div>
</script>

<script id="view-dialog" type="text/html">
	<div class="view-dialog">

	</div>
</script>