@model object

<script type="text/javascript">
	$(function() {
		IssueTracker.Issues.list.pushAll(@Html.Raw(Json.Encode(Model)));
	});
</script>

<div class="tile table-tools">
	<div class="filter-tags">
		<div>
			<span>Priority</span>
			<i class="fa fa-angle-down"></i>
		</div>
		<div>
			<span>Status</span>
			<i class="fa fa-angle-down"></i>
		</div>
		<div>
			<span>Assignee</span>
			<i class="fa fa-angle-down"></i>
		</div>
	</div>
	<div class="filter">
		<input type="text" data-bind="value: IssueTracker.Issues.filter"/>
		<i class="fa fa-search"></i>
	</div>
	<div class="tools">
		<i class="fa fa-sort-alpha-asc"></i>
		<i class="fa fa-gear"></i>
	</div>
</div>

<div class="tile issues-container table">
	<table>
		<tbody data-bind="foreach: IssueTracker.Issues.list">
			<tr data-bind="attr: { class: priorityStyle }">
				<td class="priority" data-bind="attr: { class: 'priority ' + priorityStyle }" style="width:6px;"></td>
				<td class="ellipsis name" data-bind="text: name" style="width:100px;"></td>
				<td data-bind="text: status" style="width:100px;"></td>
				<td data-bind="text: owner" style="width:100px;"></td>
				<td class="ellipsis description" data-bind="text: description"></td>
			</tr>
		</tbody>
	</table>
</div>