<div class="tile table-tools">
	<div class="filter-tags">
		<div class="loading hidden">
			<img src="@Url.Content("~/Images/ajax-loader.gif")" alt="" />
		</div>
		<div class="filters">
			<div id="view">
				<span>View</span>
				<i class="fa fa-angle-down"></i>
			</div>
			<div id="priority-filter">
				<span data-bind="css: { selected: selectedPriority() != undefined }, text: selectedPriority() ? selectedPriority().Name : 'Priority'"></span>
				<i class="fa fa-angle-down"></i>
			</div>
			<div id="status-filter">
				<span data-bind="css: { selected: selectedStatus() != undefined }, text: selectedStatus() ? selectedStatus().name : 'Status'"></span>
				<i class="fa fa-angle-down"></i>
			</div>
			<div id="assignee-filter">
				<span data-bind="css: { selected: selectedAssignee() != undefined }, text: selectedAssignee() ? selectedAssignee().Name : 'Assignee'"></span>
				<i class="fa fa-angle-down"></i>
			</div>
			<div id="owner-filter">
				<span data-bind="css: { selected: selectedOwner() != undefined }, text: selectedOwner() ? selectedOwner().Name : 'Owner'"></span>
				<i class="fa fa-angle-down"></i>
			</div>
			<div id="text-filter">
				<span data-bind="css: { selected: filter() != '' }, text: filter() != '' ? filter() : 'Text Filter'"></span>
				<i class="fa fa-angle-down"></i>
			</div>
		</div>
	</div>
	<div class="tools">
		<i id="sort" class="fa fa-sort-alpha-asc"></i>
		<i class="fa fa-gear"></i>
	</div>
</div>

<div class="tile issues-container table">
	<div class="data" data-bind="foreach: list">
		<a data-bind="attr: { 'data-issue': JSON.stringify($data), href: '#/' + IssueTracker.selectedProject().name.formatForUrl() + '/issues/' + name.formatForUrl() }">
			<div data-bind="attr: { class: 'priority ' + priorityStyle }"></div>
			<div class="ellipsis name">
				<div>
					<h3 class="name" data-bind="text: name"></h3>
					<span class="info">Last updated by <b data-bind="text: updatedBy"></b> at <b data-bind="text: lastUpdated"></b>.</span>
				</div>
			</div>
			<div class="status" data-bind="text: status"></div>
		</a>
	</div>
	<div class="loading tile">
		<img src="@Url.Content("~/Images/ajax-loader.gif")" alt="" />
	</div>

	@*<table>
		<tbody data-bind="foreach: list">
			<tr data-bind="attr: { 'data-issue': JSON.stringify($data) }">
				<td style="width:8px;" data-bind="attr: { class: 'priority ' + priorityStyle }"></td>
				<td class="ellipsis name">
					<div>
						<span class="name" data-bind="text: name, attr: { class: 'name ' + priorityStyle }"></span>
						<span class="info">Last updated by <b data-bind="text: updatedBy"></b> at <b data-bind="text: lastUpdated"></b>.</span>
					</div>
				</td>
				<td style="width:100px; text-align:right;" data-bind="text: status"></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">
					<img src="@Url.Content("~/Images/ajax-loader.gif")" alt=""/>
				</td>
			</tr>
		</tfoot>
	</table>*@
</div>

<script id="priority-filter-dialog" type="text/html">
	<div class="select-dialog priority-filter-dialog" data-bind="foreach: priorities">
		<div>
			<div data-bind="text: Name, attr: { 'data-priority': JSON.stringify($data), class: Name.toLowerCase() + (IssueTracker.Issues.selectedPriority() && IssueTracker.Issues.selectedPriority().Name == Name ? ' selected' : '') }"></div>
		</div>
	</div>
</script>

<script id="status-filter-dialog" type="text/html">
	<div class="select-dialog status-filter-dialog" data-bind="foreach: statuses">
		<div>
			<div data-bind="text: name, attr: { 'data-status': JSON.stringify($data), class: name.toLowerCase() + (IssueTracker.Issues.selectedStatus() && IssueTracker.Issues.selectedStatus().name == name ? ' selected' : '') }"></div>
		</div>
	</div>
</script>

<script id="assignee-filter-dialog" type="text/html">
	<div class="select-dialog assignee-filter-dialog" data-bind="foreach: users">
		<div>
			<div data-bind="text: Name, attr: { 'data-assignee': JSON.stringify($data), class: Name.toLowerCase() + (IssueTracker.Issues.selectedAssignee() && IssueTracker.Issues.selectedAssignee().Name == Name ? ' selected' : '') }"></div>
		</div>
	</div>
</script>

<script id="owner-filter-dialog" type="text/html">
	<div class="select-dialog owner-filter-dialog" data-bind="foreach: users">
		<div>
			<div data-bind="text: Name, attr: { 'data-owner': JSON.stringify($data), class: Name.toLowerCase() + (IssueTracker.Issues.selectedOwner() && IssueTracker.Issues.selectedOwner().Name == Name ? ' selected' : '') }"></div>
		</div>
	</div>
</script>

<script id="text-filter-dialog" type="text/html">
	<div class="text-filter-dialog">
		<input type="text" data-bind="value: $root" />
		<div class="buttons">
			<button class="set-filter">Filter</button>
			<button class="clear-filter">Clear</button>
		</div>
	</div>
</script>

<script id="sort-dialog" type="text/html">
	<div class="select-dialog sort-dialog">
		<div data-comparer="name">
			<span>Description</span>
			<i data-direction="descending" class="fa fa-angle-down" data-bind="css: { selected: direction() == 'descending' && comparer() == 'name' }"></i>
			<i data-direction="ascending" class="fa fa-angle-up" data-bind="css: { selected: direction() == 'ascending' && comparer() == 'name' }"></i>
		</div>
		<div data-comparer="priority">
			<span>Priority</span>
			<i data-direction="descending" class="fa fa-angle-down" data-bind="css: { selected: direction() == 'descending' && comparer() == 'priority' }"></i>
			<i data-direction="ascending" class="fa fa-angle-up" data-bind="css: { selected: direction() == 'ascending' && comparer() == 'priority' }"></i>
		</div>
		<div data-comparer="status">
			<span>Status</span>
			<i data-direction="descending" class="fa fa-angle-down" data-bind="css: { selected: direction() == 'descending' && comparer() == 'status' }"></i>
			<i data-direction="ascending" class="fa fa-angle-up" data-bind="css: { selected: direction() == 'ascending' && comparer() == 'status' }"></i>
		</div>
		<div data-comparer="owner">
			<span>Owner</span>
			<i data-direction="descending" class="fa fa-angle-down" data-bind="css: { selected: direction() == 'descending' && comparer() == 'owner' }"></i>
			<i data-direction="ascending" class="fa fa-angle-up" data-bind="css: { selected: direction() == 'ascending' && comparer() == 'owner' }"></i>
		</div>
		<div data-comparer="assignee">
			<span>Assignee</span>
			<i data-direction="descending" class="fa fa-angle-down" data-bind="css: { selected: direction() == 'descending' && comparer() == 'assignee' }"></i>
			<i data-direction="ascending" class="fa fa-angle-up" data-bind="css: { selected: direction() == 'ascending' && comparer() == 'assignee' }"></i>
		</div>
		<div data-comparer="opened">
			<span>Date Opened</span>
			<i data-direction="descending" class="fa fa-angle-down" data-bind="css: { selected: direction() == 'descending' && comparer() == 'opened' }"></i>
			<i data-direction="ascending" class="fa fa-angle-up" data-bind="css: { selected: direction() == 'ascending' && comparer() == 'opened' }"></i>
		</div>
		<div data-comparer="closed">
			<span>Date Closed</span>
			<i data-direction="descending" class="fa fa-angle-down" data-bind="css: { selected: direction() == 'descending' && comparer() == 'closed' }"></i>
			<i data-direction="ascending" class="fa fa-angle-up" data-bind="css: { selected: direction() == 'ascending' && comparer() == 'closed' }"></i>
		</div>
	</div>
</script>

<script id="view-dialog" type="text/html">
	<div class="view-dialog">

	</div>
</script>