modal {
	>div.overlay { background:black; position:fixed; top:0; right:0; bottom:0; left:0; opacity:0; .transition(opacity ease @animation-speed); z-index:((@dialog-z-index)-1); }
  	>div.content { position:absolute; z-index:@dialog-z-index; display:none; .tile; .transition(transform ease @animation-speed, -webkit-transform ease @animation-speed); }
}

modal.show {
	>div.overlay { opacity:0.3; }
  	>div.content { display:block; }
}