<script type="text/javascript">
    $(function() {
        var root = IssueTracker.CreateIssue;
        root.issueId = "{{issueId}}";
    })
</script>

<section id="header">
    <div class="breadcrumbs">
        <a class="clickable" data-bind="attr: { href: '#/issues' }">
            <i class="fa fa-home"></i>
            <span data-bind="text: IssueTracker.projectName"></span>
        </a>
        <i class="fa fa-angle-right"></i>
        <a>
            <span>New Issue</span>
        </a>
    </div>

    <div class="buttons">
        <button class="round" id="save" data-bind="click: save, css: { loading: loading }, tooltip: 'Create Issue'">
            <i class="fa fa-check"></i>
        </button>
        <button class="round" id="discard" data-bind="click: discard, tooltip: { text: 'Discard Issue', alignment: 'right' }">
            <i class="fa fa-times"></i>
        </button>
    </div>
</section>

<div class="text-container">
	<input class="tile container" type="text" placeholder="Issue description..." data-bind="value: createModel.description" />
	<textarea class="tile container" placeholder="Details..." data-bind="value: createModel.details"></textarea>
</div>

<div class="issue-properties" data-bind="template: { name: 'issue-properties-template', data: IssueProperties }"></div>

<div class="attached-files tile container">
    <h2>Attach Files</h2>
    <button id="browse" class="round" data-bind="tooltip: 'Browse...'">
		<i class="fa fa-search"></i>
    </button>
    <input type="file" multiple />
    <span>Attach files by either selecting them using the browse button above or dragging and dropping them into this container.</span>
    <div data-bind="foreach: Upload.attachedFiles">
        <div>
            <div class="file-container">
                <div class="info">
                    <span class="name ellipsis" data-bind="text: name"></span>
                    <span class="size" data-bind="text: size"></span>
                </div>
                <div class="status">
                    <i class="fa fa-times" data-bind="click: function() { $root.Upload.remove($data); }"></i>
                    <img src="/images/ajax-loader.gif" data-bind="visible: $root.Upload.uploading" />
                </div>
            </div>
            <div class="file-progress" data-bind="style: { width: progress() + '%' }"></div>
        </div>
    </div>
</div>