<script type="text/javascript">
    $(function() {
        var root = IssueTracker.CreateIssue;
        root.issueId = "{{issueId}}";
    })
</script>

<section id="header">
    <div class="breadcrumbs">
        <a class="clickable" data-bind="attr: { href: '#/issues' }">
            <i class="fa fa-home"></i>
            <span data-bind="text: IssueTracker.projectName"></span>
        </a>
        <i class="fa fa-angle-right"></i>
        <a>
            <span>New Issue</span>
        </a>
    </div>

    <div class="buttons">
        <button class="icon" id="save" data-bind="css: { loading: loading }">
            <i class="fa fa-check"></i>
            <span>Save New Issue</span>
        </button>
        <button class="icon" id="discard">
            <i class="fa fa-times"></i>
            <span>Discard Issue</span>
        </button>
    </div>
</section>

<input class="tile container" type="text" placeholder="Issue description..." data-bind="value: createModel.description" />
<textarea class="tile container" placeholder="Details..." data-bind="value: createModel.details"></textarea>

<div class="detailed-info-container container">
    <div class="milestone padded-tile-container">
        <div class="tile choice-tile">
            <h2>Milestone</h2>
            <!-- ko foreach: IssueTracker.milestones -->
            <div data-bind="attr: { 'data-id': id }">
                <span data-bind="text: name"></span>
                <i class="fa fa-check"></i>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <div class="priority padded-tile-container">
        <div class="tile choice-tile">
            <h2>Priority</h2>
            <!-- ko foreach: IssueTracker.priorities -->
            <div data-bind="attr: { 'data-id': id }">
                <span data-bind="text: name"></span>
                <i class="fa fa-check"></i>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <div class="status padded-tile-container">
        <div class="tile choice-tile">
            <h2>Status</h2>
            <!-- ko foreach: IssueTracker.statuses -->
            <div data-bind="attr: { 'data-id': id }">
                <span data-bind="text: name"></span>
                <i class="fa fa-check"></i>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <div class="type padded-tile-container">
        <div class="tile choice-tile">
            <h2>Type</h2>
            <!-- ko foreach: IssueTracker.issueTypes -->
            <div data-bind="attr: { 'data-id': id }">
                <span data-bind="text: name"></span>
                <i class="fa fa-check"></i>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <div class="developer padded-tile-container">
        <div class="tile choice-tile">
            <h2>Developer</h2>
            <!-- ko foreach: IssueTracker.users -->
            <!-- ko if: !isDeleted -->
            <div data-bind="attr: { 'data-id': id }">
                <span data-bind="text: name"></span>
                <i class="fa fa-check"></i>
            </div>
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
    <div class="tester padded-tile-container">
        <div class="tile choice-tile">
            <h2>Tester</h2>
            <!-- ko foreach: IssueTracker.users -->
            <!-- ko if: !isDeleted -->
            <div data-bind="attr: { 'data-id': id }">
                <span data-bind="text: name"></span>
                <i class="fa fa-check"></i>
            </div>
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</div>

<div class="attached-files tile container">
    <h2>Attach Files</h2>
    <button id="browse">Browse...</button>
    <input type="file" multiple />
    <span>Attach files by either selecting them using the browse button above or dragging and dropping them into this container.</span>
    <div data-bind="foreach: Upload.attachedFiles">
        <div>
            <div class="file-container">
                <div class="info">
                    <span class="name ellipsis" data-bind="text: name"></span>
                    <span class="size" data-bind="text: size"></span>
                </div>
                <div class="status">
                    <i class="fa fa-times"></i>
                    <img src="/images/ajax-loader.gif" data-bind="visible: $root.Upload.uploading" />
                </div>
            </div>
            <div class="file-progress" data-bind="style: { width: progress() + '%' }"></div>
        </div>
    </div>
</div>