<div class="data-container">
	<div class="issues-list">
		<div class="issues-loading hidden" data-bind="css: { hidden: !loading() }">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
		</div>
		<div class="no-issues tile hidden" data-bind="css: { hidden: loading() || list().length > 0 }">
			<h1>No issues found.</h1>
			<span>Your current filter settings have excluded all issues. Create an issue or change the filter on the right to see a list of issues.</span>
		</div>
		<div data-bind="foreach: list, attr: { 'class': 'data ' + View.view() }">
			<a class="tile" data-bind="attr: { 'data-issue': JSON.stringify($data), href: '#/' + IssueTracker.selectedProject().name.formatForUrl() + '/issues/' + number }">
				<div data-bind="attr: { class: priorityStyle }">
					<div class="info">
						<span class="number" data-bind="text: number"></span>
                        <div class="name">
                            <span class="name" data-bind="text: description"></span>
                            <span class="details" data-bind="text: details"></span>
                        </div>
                        <div class="details">
                            <img class="user-profile-image" data-bind="attr: { title: developer, src: IssueTracker.Utilities.getUserProfileImageLocation(developerId) }" alt="" />
                        </div>
					</div>
				</div>
			</a>
		</div>
	</div>
    <div class="sidebar">
        <div class="filter">
            <div>
                <h3>Milestones</h3>
                <!-- ko foreach: { data: IssueTracker.milestones } -->
                <div data-bind="css: { selected: $parent.Filter.contains($parent.Filter.selectedMilestones, $data) }, click: function() { $parent.Filter.toggle($parent.Filter.selectedMilestones, $data, $element); }">
                    <span class="value" data-bind="text: name"></span>
                    <i class="fa fa-check-square"></i>
                    <i class="fa fa-square-o"></i>
                </div>
                <!-- /ko -->
            </div>
            <div>
                <h3>Priorities</h3>
                <!-- ko foreach: { data: IssueTracker.priorities } -->
                <div data-bind="css: { selected: $parent.Filter.contains($parent.Filter.selectedPriorities, $data) }, click: function() { $parent.Filter.toggle($parent.Filter.selectedPriorities, $data, $element); }">
                    <span class="value" data-bind="text: name"></span>
                    <i class="fa fa-check-square"></i>
                    <i class="fa fa-square-o"></i>
                </div>
                <!-- /ko -->
            </div>
            <div>
                <h3>Statuses</h3>
                <!-- ko foreach: { data: IssueTracker.statuses } -->
                <div data-bind="css: { selected: $parent.Filter.contains($parent.Filter.selectedStatuses, $data) }, click: function() { $parent.Filter.toggle($parent.Filter.selectedStatuses, $data, $element); }">
                    <span class="value" data-bind="text: name"></span>
                    <i class="fa fa-check-square"></i>
                    <i class="fa fa-square-o"></i>
                </div>
                <!-- /ko -->
            </div>
            <div>
                <h3>Issue Types</h3>
                <!-- ko foreach: { data: IssueTracker.issueTypes } -->
                <div data-bind="css: { selected: $parent.Filter.contains($parent.Filter.selectedTypes, $data) }, click: function() { $parent.Filter.toggle($parent.Filter.selectedTypes, $data, $element); }">
                    <span class="value" data-bind="text: name"></span>
                    <i class="fa fa-check-square"></i>
                    <i class="fa fa-square-o"></i>
                </div>
                <!-- /ko -->
            </div>
            <div>
                <h3>Developers</h3>
                <!-- ko foreach: { data: IssueTracker.users } -->
                <div data-bind="css: { selected: $parent.Filter.contains($parent.Filter.selectedDevelopers, $data) }, click: function() { $parent.Filter.toggle($parent.Filter.selectedDevelopers, $data, $element); }">
                    <span class="value" data-bind="text: name"></span>
                    <i class="fa fa-check-square"></i>
                    <i class="fa fa-square-o"></i>
                </div>
                <!-- /ko -->
            </div>
            <div>
                <h3>Testers</h3>
                <!-- ko foreach: { data: IssueTracker.users } -->
                <div data-bind="css: { selected: $parent.Filter.contains($parent.Filter.selectedTesters, $data) }, click: function() { $parent.Filter.toggle($parent.Filter.selectedTesters, $data, $element); }">
                    <span class="value" data-bind="text: name"></span>
                    <i class="fa fa-check-square"></i>
                    <i class="fa fa-square-o"></i>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>

<script id="issue-details-template" type="text/html">
	<h2 data-bind="text: description"></h2>
	<span class="description" data-bind="text: description, visible: description() != null"></span>
	<div>
		<span class="label">Milestone</span>
		<span class="value" data-bind="text: milestone"></span>
	</div>
	<div>
		<span class="label">Priority</span>
		<span class="value" data-bind="text: priority"></span>
	</div>
	<div>
		<span class="label">Status</span>
		<span class="value" data-bind="text: status"></span>
	</div>
	<div>
		<span class="label">Type</span>
		<span class="value" data-bind="text: type"></span>
	</div>
	<div>
		<span class="label">Developer</span>
		<span class="value" data-bind="text: developer"></span>
	</div>
	<div>
		<span class="label">Tester</span>
		<span class="value" data-bind="text: tester"></span>
	</div>
</script>

<script id="modify-view-template" type="text/html">
	<div class="modify-view tile choice-tile no-selected-background">
		<h2>View</h2>
		<!-- ko foreach: View.availableViews -->
		<div data-bind="css: { selected: $parent.View.view().toLowerCase().indexOf($data) > -1 }, click: function() { $parent.View.view($data); }">
			<span data-bind="text: $data.capitalize()"></span>
			<i class="fa fa-check"></i>
		</div>
		<!-- /ko -->
	</div>
</script>

<script id="modify-sort-template" type="text/html">
	<div class="modify-sort choice-tile tile">
		<h2>Sort</h2>
		<div data-property="description">
			<span>Description</span>
			<i class="fa fa-angle-down" data-bind="css: { selected: $root.Sort.property() == 'description' && $root.Sort.direction() == 'descending' }"></i>
			<i class="fa fa-angle-up" data-bind="css: { selected: $root.Sort.property() == 'description' && $root.Sort.direction() == 'ascending' }"></i>
		</div>
		<div data-property="milestone">
			<span>Milestone</span>
			<i class="fa fa-angle-down" data-bind="css: { selected: $root.Sort.property() == 'milestone' && $root.Sort.direction() == 'descending' }"></i>
			<i class="fa fa-angle-up" data-bind="css: { selected: $root.Sort.property() == 'milestone' && $root.Sort.direction() == 'ascending' }"></i>
		</div>
		<div data-property="priority">
			<span>Priority</span>
			<i class="fa fa-angle-down" data-bind="css: { selected: $root.Sort.property() == 'priority' && $root.Sort.direction() == 'descending' }"></i>
			<i class="fa fa-angle-up" data-bind="css: { selected: $root.Sort.property() == 'priority' && $root.Sort.direction() == 'ascending' }"></i>
		</div>
		<div data-property="status">
			<span>Status</span>
			<i class="fa fa-angle-down" data-bind="css: { selected: $root.Sort.property() == 'status' && $root.Sort.direction() == 'descending' }"></i>
			<i class="fa fa-angle-up" data-bind="css: { selected: $root.Sort.property() == 'status' && $root.Sort.direction() == 'ascending' }"></i>
		</div>
		<div data-property="type">
			<span>Type</span>
			<i class="fa fa-angle-down" data-bind="css: { selected: $root.Sort.property() == 'type' && $root.Sort.direction() == 'descending' }"></i>
			<i class="fa fa-angle-up" data-bind="css: { selected: $root.Sort.property() == 'type' && $root.Sort.direction() == 'ascending' }"></i>
		</div>
		<div data-property="developer">
			<span>Developer</span>
			<i class="fa fa-angle-down" data-bind="css: { selected: $root.Sort.property() == 'developer' && $root.Sort.direction() == 'descending' }"></i>
			<i class="fa fa-angle-up" data-bind="css: { selected: $root.Sort.property() == 'developer' && $root.Sort.direction() == 'ascending' }"></i>
		</div>
		<div data-property="tester">
			<span>Tester</span>
			<i class="fa fa-angle-down" data-bind="css: { selected: $root.Sort.property() == 'tester' && $root.Sort.direction() == 'descending' }"></i>
			<i class="fa fa-angle-up" data-bind="css: { selected: $root.Sort.property() == 'tester' && $root.Sort.direction() == 'ascending' }"></i>
		</div>
		<div data-property="date-opened">
			<span>Date Opened</span>
			<i class="fa fa-angle-down" data-bind="css: { selected: $root.Sort.property() == 'date-opened' && $root.Sort.direction() == 'descending' }"></i>
			<i class="fa fa-angle-up" data-bind="css: { selected: $root.Sort.property() == 'date-opened' && $root.Sort.direction() == 'ascending' }"></i>
		</div>
	</div>
</script>

<script id="selected-filters" type="text/html">
	<!-- ko if: Filter.selectedMilestones().length != IssueTracker.milestones().length -->
	<!-- ko foreach: { data: Filter.selectedMilestones } -->
	<div data-bind="click: function() { $parent.Filter.remove($parent.Filter.selectedMilestones, $data); }">
		<span class="label">Milestone</span>
		<span class="value" data-bind="text: name"></span>
	</div>
	<!-- /ko -->
	<!-- /ko -->
	<!-- ko if: Filter.selectedPriorities().length != IssueTracker.priorities().length -->
	<!-- ko foreach: { data: Filter.selectedPriorities } -->
	<div data-bind="click: function() { $parent.Filter.remove($parent.Filter.selectedPriorities, $data); }">
		<span class="label">Priority</span>
		<span class="value" data-bind="text: name"></span>
	</div>
	<!-- /ko -->
	<!-- /ko -->
	<!-- ko if: Filter.selectedStatuses().length != IssueTracker.statuses().length -->
	<!-- ko foreach: { data: Filter.selectedStatuses } -->
	<div data-bind="click: function() { $parent.Filter.remove($parent.Filter.selectedStatuses, $data); }">
		<span class="label">Status</span>
		<span class="value" data-bind="text: name"></span>
	</div>
	<!-- /ko -->
	<!-- /ko -->
	<!-- ko if: Filter.selectedTypes().length != IssueTracker.issueTypes().length -->
	<!-- ko foreach: { data: Filter.selectedTypes } -->
	<div data-bind="click: function() { $parent.Filter.remove($parent.Filter.selectedTypes, $data); }">
		<span class="label">Type</span>
		<span class="value" data-bind="text: name"></span>
	</div>
	<!-- /ko -->
	<!-- /ko -->
	<!-- ko if: Filter.selectedDevelopers().length != IssueTracker.users().length -->
	<!-- ko foreach: { data: Filter.selectedDevelopers } -->
	<div data-bind="click: function() { $parent.Filter.remove($parent.Filter.selectedDevelopers, $data); }">
		<span class="label">Developer</span>
		<span class="value" data-bind="text: name"></span>
	</div>
	<!-- /ko -->
	<!-- /ko -->
	<!-- ko if: Filter.selectedTesters().length != IssueTracker.users().length -->
	<!-- ko foreach: { data: Filter.selectedTesters } -->
	<div data-bind="click: function() { $parent.Filter.remove($parent.Filter.selectedTesters, $data); }">
		<span class="label">Tester</span>
		<span class="value" data-bind="text: name"></span>
	</div>
	<!-- /ko -->
	<!-- /ko -->
</script>

<script id="modify-filter-template" type="text/html">
	<div class="modify-filter">
		<div class="tile choice-tile no-selected-background" id="milestone-filter">
			<h2>Milestone</h2>
			<!-- ko foreach: IssueTracker.milestones -->
			<div data-bind="css: { selected: $parent.Filter.contains($parent.Filter.selectedMilestones, $data) }, attr: { 'data-raw': ko.toJSON($data) }">
				<span data-bind="text: name"></span>
				<i class="fa fa-check"></i>
			</div>
			<!-- /ko -->
		</div>
		<div class="tile choice-tile no-selected-background" id="priority-filter">
			<h2>Priority</h2>
			<!-- ko foreach: IssueTracker.priorities -->
			<div data-bind="css: { selected: $parent.Filter.contains($parent.Filter.selectedPriorities, $data) }, attr: { 'data-raw': ko.toJSON($data) }">
				<span data-bind="text: name"></span>
				<i class="fa fa-check"></i>
			</div>
			<!-- /ko -->
		</div>
		<div class="tile choice-tile no-selected-background" id="status-filter">
			<h2>Status</h2>
			<!-- ko foreach: IssueTracker.statuses -->
			<div data-bind="css: { selected: $parent.Filter.contains($parent.Filter.selectedStatuses, $data) }, attr: { 'data-raw': ko.toJSON($data) }">
				<span data-bind="text: name"></span>
				<i class="fa fa-check"></i>
			</div>
			<!-- /ko -->
		</div>
		<div class="tile choice-tile no-selected-background" id="type-filter">
			<h2>Type</h2>
			<!-- ko foreach: IssueTracker.issueTypes -->
			<div data-bind="css: { selected: $parent.Filter.contains($parent.Filter.selectedTypes, $data) }, attr: { 'data-raw': ko.toJSON($data) }">
				<span data-bind="text: name"></span>
				<i class="fa fa-check"></i>
			</div>
			<!-- /ko -->
		</div>
		<div class="tile choice-tile no-selected-background" id="developer-filter">
			<h2>Developer</h2>
			<!-- ko foreach: IssueTracker.users -->
			<div data-bind="css: { selected: $parent.Filter.contains($parent.Filter.selectedDevelopers, $data) }, attr: { 'data-raw': ko.toJSON($data) }">
				<span data-bind="text: name"></span>
				<i class="fa fa-check"></i>
			</div>
			<!-- /ko -->
		</div>
		<div class="tile choice-tile no-selected-background" id="tester-filter">
			<h2>Tester</h2>
			<!-- ko foreach: IssueTracker.users -->
			<div data-bind="css: { selected: $parent.Filter.contains($parent.Filter.selectedTesters, $data) }, attr: { 'data-raw': ko.toJSON($data) }">
				<span data-bind="text: name"></span>
				<i class="fa fa-check"></i>
			</div>
			<!-- /ko -->
		</div>
		<button id="set-filter">Set Filter</button>
	</div>
</script>