<script type="text/javascript">
	var root = window.IssueTracker || (window.IssueTracker = {});
	root.selectedIssue = IssueTracker.Utilities.createPropertyObservables({{{issue}}});
</script>

<div class="container notop details-header">
	<div class="breadcrumbs">
		<a class="clickable" data-bind="attr: { href: '#/issues' }">
			<i class="fa fa-home"></i>
			<span data-bind="text: IssueTracker.projectName"></span>
		</a>
		<i class="fa fa-angle-right"></i>
		<a>
			<span data-bind="text: 'Issue #' + IssueTracker.selectedIssue.number()"></span>
		</a>
	</div>

	<div class="issue-buttons">
		<img id="transition-loader" class="hidden" src="/images/ajax-loader.gif" alt="" data-bind="css: { hidden: !IssueTracker.Transitioner.transitioning() }" />
		<div class="transitions" data-bind="visible: IssueTracker.selectedIssue.transitions().length > 0, foreach: IssueTracker.selectedIssue.transitions">
            <button class="icon" data-bind="attr: { 'data-status-id': toId, disabled: IssueTracker.Transitioner.transitioning }">
                <span data-bind="text: name"></span>
                <i class="fa fa-angle-right"></i>
            </button>
		</div>
		<div class="always">
            <button class="icon" id="save-changes" data-bind="css: { loading: saving }">
                <i class="fa fa-check"></i>
				<img src="../images/light-spinner.png" alt="" />
                <span>Save Changes</span>
            </button>
			<button class="icon" data-bind="click: Delete.restore, visible: IssueTracker.selectedIssue.isDeleted(), css: { loading: Delete.loading }">
				<i class="fa fa-undo"></i>
				<img src="../images/light-spinner.png" alt="" />
				<span>Undelete Issue</span>
			</button>
			<button class="icon" data-bind="click: Delete.remove, visible: !IssueTracker.selectedIssue.isDeleted()">
                <i class="fa fa-trash-o"></i>
                <span>Delete Issue</span>
            </button>
		</div>
	</div>
</div>

<div class="container name-and-number-wrapper">
	<div class="name-container perspective" data-bind="style: { 'border-left-color': IssueTracker.Utilities.getPriorityColour(IssueTracker.selectedIssue.priorityId()) }">
		<div class="description">
			<input type="text" class="description no-focus" data-bind="value: IssueTracker.selectedIssue.description" />
		</div>
	</div>
</div>
	
<div class="content">
	<textarea placeholder="Details..." class="no-focus" data-bind="value: IssueTracker.selectedIssue.details"></textarea>
	<div class="comments">
		<div class="new-comment">
			<div>
                <div class="comment-header">
                    <div class="upi">
                        <img class="user-profile-image" data-bind="attr: { src: IssueTracker.Utilities.getUserProfileImageLocation(IssueTracker.signedInUser().id(), 25) }" alt="" />
                        <span></span>
                    </div>
                    <span class="name" data-bind="text: IssueTracker.signedInUser().name"></span>
                </div>
				<textarea class="no-focus" placeholder="Add a comment..." data-bind="value: Comments.text"></textarea>
			</div>
		</div>
		<div class="existing-comments" data-bind="foreach: { data: Comments.list, afterAdd: Comments.slideDown }">
			<div>
                <div class="comment-header">
                    <div class="upi">
                        <img class="user-profile-image" data-bind="attr: { src: IssueTracker.Utilities.getUserProfileImageLocation(userId, 25) }" alt="" />
                        <span></span>
                    </div>
                    <span class="name" data-bind="text: user"></span>
                    <span class="date" data-bind="text: date"></span>
					<!-- ko if: $root.Comments.isOwner($data) -->
                    	<i class="fa fa-trash-o" title="Delete Comment" data-bind="click: $root.Comments.remove"></i>
					<!-- /ko -->
                </div>
				<div class="text" data-bind="html: text"></div>
			</div>
		</div>
	</div>
</div>

<div class="sidebar perspective">
	<div class="choices flipper transition horizontal" id="choices-container">
		<div class="tile flip-tile front details">
			<div class="selectable" id="milestone">
				<span class="title">Milestone</span>
				<i class="fa fa-angle-right"></i>
				<span class="info" id="selected-milestone" data-bind="text: IssueTracker.selectedIssue.milestone"></span>
			</div>
			<div class="selectable" id="priority">
				<span class="title">Priority</span>
				<i class="fa fa-angle-right"></i>
				<span class="info" id="selected-priority" data-bind="text: IssueTracker.selectedIssue.priority"></span>
			</div>
			<div class="selectable" id="status">
				<span class="title">Status</span>
				<i class="fa fa-angle-right"></i>
				<span class="info" data-bind="text: IssueTracker.selectedIssue.status"></span>
			</div>
			<div class="selectable" id="issue-type">
				<span class="title">Type</span>
				<i class="fa fa-angle-right"></i>
				<span class="info" data-bind="text: IssueTracker.selectedIssue.type"></span>
			</div>
			<div class="selectable" id="developer">
				<span class="title">Developer</span>
				<i class="fa fa-angle-right"></i>
				<span class="info" data-bind="text: IssueTracker.selectedIssue.developer"></span>
			</div>
			<div class="selectable" id="tester">
				<span class="title">Tester</span>
				<i class="fa fa-angle-right"></i>
				<span class="info" data-bind="text: IssueTracker.selectedIssue.tester"></span>
			</div>
			<div>
				<span class="title">Date Opened</span>
				<span class="info" data-bind="text: IssueTracker.selectedIssue.opened"></span>
			</div>
			<div>
				<span class="title">Date Closed</span>
				<span class="info" data-bind="text: IssueTracker.selectedIssue.closed"></span>
			</div>
		</div>
		<div class="tile flip-tile back" data-bind="template: { name: IssueTracker.IssueDetails.chooser.template, data: IssueTracker }"></div>
	</div>

    <div class="attached-files shadow" data-bind="foreach: IssueTracker.selectedIssue.files">
        <a class="tile" data-bind="attr: { href: IssueTracker.virtualDirectory + 'issues/download-attached-file?id=' + $data.id }" target="_blank">
            <i class="fa fa-paperclip"></i>
            <span class="name" data-bind="text: name"></span>
            <span class="size" data-bind="text: size"></span>
        </a>
    </div>
</div>

<script type="text/html" id="type-chooser">
	<div class="type-chooser chooser" data-bind="foreach: issueTypes">
		<div data-bind="attr: { 'data-type': JSON.stringify($data) }, css: { selected: $data.id == IssueTracker.selectedIssue.typeId() }">
			<div>
				<div>
					<span class="name" data-bind="text: name"></span>
					<i class="fa fa-check"></i>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/html" id="milestone-chooser">
	<div class="milestone-chooser chooser" data-bind="foreach: milestones">
		<div data-bind="attr: { 'data-milestone': JSON.stringify(IssueTracker.Utilities.extractPropertyObservableValues($data)) }, css: { selected: $data.id() == IssueTracker.selectedIssue.milestoneId() }">
			<div>
				<div>
					<span class="name" data-bind="text: name"></span>
					<i class="fa fa-check"></i>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/html" id="priority-chooser">
	<div class="priority-chooser chooser" data-bind="foreach: priorities">
		<div data-bind="attr: { 'data-priority': JSON.stringify(IssueTracker.Utilities.extractPropertyObservableValues($data)) }, css: { selected: $data.id() == IssueTracker.selectedIssue.priorityId() }">
			<span class="colour" data-bind="style: { background: IssueTracker.Utilities.getPriorityColour(id()) }"></span>
			<div>
				<div>
					<span class="name" data-bind="text: name"></span>
					<i class="fa fa-check"></i>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/html" id="status-chooser">
	<div class="status-chooser chooser" data-bind="foreach: statuses">
		<div data-bind="attr: { 'data-status': JSON.stringify(IssueTracker.Utilities.extractPropertyObservableValues($data)) }, css: { selected: $data.id() == IssueTracker.selectedIssue.statusId() }">
			<div>
				<div>
					<span class="name" data-bind="text: name"></span>
					<i class="fa fa-check"></i>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/html" id="developer-chooser">
	<div class="developer-chooser chooser" data-bind="foreach: users">
        <!-- ko if: !isDeleted() -->
		<div data-bind="attr: { 'data-developer': JSON.stringify(IssueTracker.Utilities.extractPropertyObservableValues($data)) }, css: { selected: $data.id() == IssueTracker.selectedIssue.developerId() }">
			<div>
				<div>
					<span class="name" data-bind="text: name"></span>
					<i class="fa fa-check"></i>
				</div>
			</div>
		</div>
        <!-- /ko -->
	</div>
</script>

<script type="text/html" id="tester-chooser">
	<div class="tester-chooser chooser" data-bind="foreach: users">
        <!-- ko if: !isDeleted() -->
		<div data-bind="attr: { 'data-tester': JSON.stringify(IssueTracker.Utilities.extractPropertyObservableValues($data)) }, css: { selected: $data.id() == IssueTracker.selectedIssue.testerId() }">
			<div>
				<div>
					<span class="name" data-bind="text: name"></span>
					<i class="fa fa-check"></i>
				</div>
			</div>
		</div>
        <!-- /ko -->
	</div>
</script>

<script type="text/html" id="confirm-delete">
	<div class="confirm-delete confirmation-dialog">
		<h1>Delete this issue?</h1>
		<span>Deleting an issue is 100% reversible; we only mark it as deleted. In the event you delete this issue by mistake or need to restore it later, no problem; you can search for the issue and undelete it that way. Are you sure you want to continue?</span>
		<div class="confirm-container">
			<button data-bind="click: IssueTracker.IssueDetails.Delete.confirm, css: { loading: loading }">Delete Issue</button>
		</div>
		<div>
			<button data-bind="click: IssueTracker.IssueDetails.Delete.cancel">Cancel</button>
		</div>
	</div>
</script>

<script type="text/html" id="confirm-delete-comment-template">
    <div class="confirm-delete confirmation-dialog">
        <h1>Delete this comment?</h1>
        <span class="warning"><b>WARNING:</b> This action is irreversible.</span>
        <span>Once deleted, the comment will be removed from our databases. Are you sure you want to continue?</span>
        <div class="confirm-container">
            <button id="confirm-delete-comment" data-bind="css: { loading: loading }, click: confirm">Delete Comment</button>
        </div>
        <div>
            <button id="cancel-delete-comment" data-bind="click: cancel">Cancel</button>
        </div>
    </div>
</script>