<script type="text/javascript">
	var root = window.IssueTracker || (window.IssueTracker = {});
	root.selectedIssue = IssueTracker.Utilities.createPropertyObservables({{{issue}}});
</script>

<div class="container notop details-header">
	<div class="breadcrumbs">
		<a class="clickable" data-bind="attr: { href: '#/issues' }">
			<i class="fa fa-home"></i>
			<span data-bind="text: IssueTracker.projectName"></span>
		</a>
		<i class="fa fa-angle-right"></i>
		<a>
			<span data-bind="text: 'Issue #' + IssueTracker.selectedIssue.number()"></span>
		</a>
	</div>

	<div class="issue-buttons">
		<img id="transition-loader" class="hidden" src="/images/ajax-loader.gif" alt="" data-bind="css: { hidden: !IssueTracker.Transitioner.transitioning() }" />
		<div class="transitions" data-bind="visible: IssueTracker.selectedIssue.transitions().length > 0, foreach: IssueTracker.selectedIssue.transitions">
            <button class="icon" data-bind="attr: { 'data-status-id': toId, disabled: IssueTracker.Transitioner.transitioning }">
                <span data-bind="text: name"></span>
                <i class="fa fa-angle-right"></i>
            </button>
		</div>
		<div class="always">
			<button class="round" id="save-changes" data-bind="visible: IssueTracker.isAuthorized('edit-issue'), css: { loading: saving }">
				<i class="fa fa-check"></i>
				<img src="../images/light-spinner.png" alt="" />
			</button>
			<button class="round" data-bind="click: Files.upload, css: { loading: Files.uploading }">
				<i class="fa fa-paperclip"></i>
				<img src="../images/light-spinner.png" alt="" />
			</button>
			<button class="round" data-bind="click: AddComment.show">
				<i class="fa fa-comment"></i>
			</button>
			<button class="round" data-bind="click: Delete.restore, visible: IssueTracker.isAuthorized('delete-issue') && IssueTracker.selectedIssue.isDeleted(), css: { loading: Delete.loading }">
				<i class="fa fa-trash-o"></i>
				<img src="../images/light-spinner.png" alt="" />
			</button>
			<button class="round" data-bind="click: Delete.remove, visible: IssueTracker.isAuthorized('delete-issue') && !IssueTracker.selectedIssue.isDeleted()">
				<i class="fa fa-trash-o"></i>
				<img src="../images/light-spinner.png" alt="" />
			</button>
		</div>
	</div>
</div>

<div class="header">
	<div class="description">
		<input id="description" class="nofocus" type="text" class="description no-focus" data-bind="enable: IssueTracker.isAuthorized('edit-issue'), value: IssueTracker.selectedIssue.description" />
		<i class="fa fa-pencil"></i>
	</div>
	<div class="details">
		<textarea id="details" class="nofocus" placeholder="Details..." class="no-focus" data-bind="enable: IssueTracker.isAuthorized('edit-issue'), value: IssueTracker.selectedIssue.details"></textarea>
		<i class="fa fa-pencil"></i>
	</div>
</div>

<div class="content">
	<div class="comments">
		<div>
			<!-- ko foreach: { data: Comments.comments, afterAdd: Comments.slideDown } -->
			<div>
				<div>
					<div class="info-container">
						<div class="user">
							<img class="user-profile-image" data-bind="attr: { src: IssueTracker.Utilities.getUserProfileImageLocation(null, 36) }" alt="" />
							<div>
								<span class="name" data-bind="text: user"></span>
								<br />
								<span class="ago" data-bind="timeago: date"></span>
							</div>
						</div>
					</div>
					<div class="text-container">
						<div class="text" data-bind="text: text"></div>
					</div>
				</div>
			</div>
			<!-- /ko -->
		</div>
	</div>

	<div class="detailed-info">
		<div class="milestone padded-tile-container">
			<div class="label" data-bind="click: DetailedInfo.toggleMilestones">
				<i class="fa fa-map-marker label"></i>
				<span data-bind="text: IssueTracker.selectedIssue.milestone"></span>
				<i class="fa fa-angle-down"></i>
			</div>
			<div class="list" data-bind="animateVisible: { bool: DetailedInfo.milestonesVisible(), animation: 'slide' }">
				<!-- ko foreach: IssueTracker.milestones -->
				<div data-bind="click: $root.DetailedInfo.selectMilestone, attr: { 'data-id': id }, css: { selected: IssueTracker.selectedIssue.milestoneId() == id() }">
					<span data-bind="text: name"></span>
					<i class="fa fa-check"></i>
				</div>
				<!-- /ko -->
			</div>
		</div>
		<div class="priority padded-tile-container">
			<div class="label" data-bind="click: DetailedInfo.togglePriorities">
				<i class="fa fa-exclamation-circle label"></i>
				<span data-bind="text: IssueTracker.selectedIssue.priority"></span>
				<i class="fa fa-angle-down"></i>
			</div>
			<div class="list" data-bind="animateVisible: { bool: DetailedInfo.prioritiesVisible(), animation: 'slide' }">
				<!-- ko foreach: IssueTracker.priorities -->
				<div data-bind="click: $root.DetailedInfo.selectPriority, attr: { 'data-id': id }, css: { selected: IssueTracker.selectedIssue.priorityId() == id() }">
					<span data-bind="text: name"></span>
					<i class="fa fa-check"></i>
				</div>
				<!-- /ko -->
			</div>
		</div>
		<div class="status padded-tile-container">
			<div class="label" data-bind="click: DetailedInfo.toggleStatuses">
				<i class="fa fa-question-circle label"></i>
				<span data-bind="text: IssueTracker.selectedIssue.status"></span>
				<i class="fa fa-angle-down"></i>
			</div>
			<div class="list" data-bind="animateVisible: { bool: DetailedInfo.statusesVisible(), animation: 'slide' }">
				<!-- ko foreach: IssueTracker.statuses -->
				<div data-bind="click: $root.DetailedInfo.selectStatus, attr: { 'data-id': id }, css: { selected: IssueTracker.selectedIssue.statusId() == id() }">
					<span data-bind="text: name"></span>
					<i class="fa fa-check"></i>
				</div>
				<!-- /ko -->
			</div>
		</div>
		<div class="type padded-tile-container">
			<div class="label" data-bind="click: DetailedInfo.toggleIssueTypes">
				<i class="fa fa-file-text label"></i>
				<span data-bind="text: IssueTracker.selectedIssue.type"></span>
				<i class="fa fa-angle-down"></i>
			</div>
			<div class="list" data-bind="animateVisible: { bool: DetailedInfo.issueTypesVisible(), animation: 'slide' }">
				<!-- ko foreach: IssueTracker.issueTypes -->
				<div data-bind="click: $root.DetailedInfo.selectIssueType, attr: { 'data-id': id }, css: { selected: IssueTracker.selectedIssue.typeId() == id() }">
					<span data-bind="text: name"></span>
					<i class="fa fa-check"></i>
				</div>
				<!-- /ko -->
			</div>
		</div>
		<div class="developer padded-tile-container">
			<div class="label" data-bind="click: DetailedInfo.toggleDevelopers">
				<i class="fa fa-code label"></i>
				<span data-bind="text: IssueTracker.selectedIssue.developer"></span>
				<i class="fa fa-angle-down"></i>
			</div>
			<div class="list" data-bind="animateVisible: { bool: DetailedInfo.developersVisible(), animation: 'slide' }">
				<!-- ko foreach: IssueTracker.users -->
				<!-- ko if: !isDeleted() -->
				<div data-bind="click: $root.DetailedInfo.selectDeveloper, attr: { 'data-id': id }, css: { selected: IssueTracker.selectedIssue.developerId() == id() }">
					<span data-bind="text: name"></span>
					<i class="fa fa-check"></i>
				</div>
				<!-- /ko -->
				<!-- /ko -->
			</div>
		</div>
		<div class="tester padded-tile-container">
			<div class="label" data-bind="click: DetailedInfo.toggleTesters	">
				<i class="fa fa-flask label"></i>
				<span data-bind="text: IssueTracker.selectedIssue.tester"></span>
				<i class="fa fa-angle-down"></i>
			</div>
			<div class="list" data-bind="animateVisible: { bool: DetailedInfo.testersVisible(), animation: 'slide' }">
				<!-- ko foreach: IssueTracker.users -->
				<!-- ko if: !isDeleted() -->
				<div data-bind="click: $root.DetailedInfo.selectTester, attr: { 'data-id': id }, css: { selected: IssueTracker.selectedIssue.testerId() == id() }">
					<span data-bind="text: name"></span>
					<i class="fa fa-check"></i>
				</div>
				<!-- /ko -->
				<!-- /ko -->
			</div>
		</div>
	</div>
</div>

<script type="text/html" id="confirm-delete">
	<div class="confirm-delete form">
		<h1>Delete this issue?</h1>
		<span>Deleting an issue is 100% reversible; we only mark it as deleted. In the event you delete this issue by mistake or need to restore it later, no problem; you can search for the issue and undelete it that way. Are you sure you want to continue?</span>
		<div class="button-container">
			<button class="round" data-bind="click: IssueTracker.IssueDetails.Delete.cancel">
				<i class="fa fa-times"></i>
			</button>
			<button class="round" data-bind="click: IssueTracker.IssueDetails.Delete.confirm, css: { loading: loading }">
				<i class="fa fa-check"></i>
				<img src="../images/light-spinner.png" alt="" />
			</button>
		</div>
	</div>
</script>

<script type="text/html" id="confirm-delete-comment-template">
    <div class="confirm-delete form">
        <h1>Delete this comment?</h1>
        <span class="warning"><b>WARNING:</b> This action is irreversible.</span>
        <span>Once deleted, the comment will be removed from our databases. Are you sure you want to continue?</span>
        <div class="button-container">
			<button id="cancel-delete-comment" data-bind="click: cancel">
				<i class="fa fa-times"></i>
			</button>
            <button id="confirm-delete-comment" data-bind="css: { loading: loading }, click: confirm">
				<i class="fa fa-check"></i>
				<img src="../images/light-spinner.png" alt="" />
            </button>
        </div>
    </div>
</script>

<script type="text/html" id="add-comment-template">
	<div class="add-comment form">
		<h1>Add comment</h1>
		<textarea placeholder="Comment..." data-bind="value: text"></textarea>
		<div class="button-container">
			<button class="round" data-bind="click: cancel">
				<i class="fa fa-times"></i>
			</button>
			<button class="round" data-bind="css: { loading: loading }, click: confirm">
				<i class="fa fa-check"></i>
				<img src="../images/light-spinner.png" alt="" />
			</button>
		</div>
	</div>
</script>