<div class="issues-container">
	<div class="data-container">
		<div class="issues-list">
			<div class="issues-loading hidden" ng-show="loading">
				<div class="spinner">
					<div class="rect1"></div>
					<div class="rect2"></div>
					<div class="rect3"></div>
					<div class="rect4"></div>
					<div class="rect5"></div>
				</div>
			</div>
			<div class="no-issues tile hidden" ng-show="!loading && issues.length > 0">
				<h1>No issues found.</h1>
				<span>Your current filter settings have excluded all issues. Create an issue or change the filter on the right to see a list of issues.</span>
			</div>
			<div class="data">
				<a ng-repeat="issue in issues" class="tile issue-[[issue.localIndex]] rotate-vanish" ng-class="{ collapsed: loading && first }" ng-click="$root.issue.load(issue)">
					<div ng-style="{ 'border-color': issue.priorityColour }">
						<div class="info">
							<span class="number">[[issue.number]]</span>
							<div class="name">
								<span class="name">[[issue.description]]</span>
								<span class="details">[[issue.details]]</span>
							</div>
							<div class="details">
								<profile-image id="issue.developerId" show-tooltip></profile-image>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="sidebar">
			<div class="counts">
				<span><b>[[issues.length]]</b> issues shown</span>
			</div>
			<div class="sort" ng-click="sort.toggle()">
				<div class="selector">
					<span>Sort by <b>[[sort.selected.label]]</b></span>
					<i class="fa fa-angle-down" rotate="sort.visible" rotate-amount="half"></i>
				</div>
				<div class="options choice-tile" slide-vertical="sort.visible">
					<div ng-repeat="option in sort.options" ng-class="{ selected: sort.selected.label === option.label }" ng-click="sort.select(option)">
						<span>[[option.display]]</span>
						<i class="fa fa-check"></i>
					</div>
				</div>
			</div>
			<div class="filter">
				<div>
					<div ng-repeat="milestone in $root.milestones" ng-click="filter.toggle(filter.selectedMilestones, milestone)">
						<span class="value">[[milestone.name]]</span>
						<checkbox checked="filter.contains(filter.selectedMilestones, milestone)"></checkbox>
					</div>
				</div>
				<div>
					<div ng-repeat="priority in $root.priorities" ng-click="filter.toggle(filter.selectedPriorities, priority)">
						<span class="value">[[priority.name]]</span>
						<checkbox checked="filter.contains(filter.selectedPriorities, priority)"></checkbox>
					</div>
				</div>
				<div>
					<div ng-repeat="status in $root.statuses" ng-click="filter.toggle(filter.selectedStatuses, status)">
						<span class="value">[[status.name]]</span>
						<checkbox checked="filter.contains(filter.selectedStatuses, status)"></checkbox>
					</div>
				</div>
				<div>
					<div ng-repeat="type in $root.issueTypes" ng-click="filter.toggle(filter.selectedTypes, type)">
						<span class="value">[[type.name]]</span>
						<checkbox checked="filter.contains(filter.selectedTypes, type)"></checkbox>
					</div>
				</div>
				<div>
					<div ng-repeat="user in $root.users | filter: { isDeleted: false }" ng-click="filter.toggle(filter.selectedDevelopers, user)">
						<span class="value">[[user.name]]</span>
						<checkbox checked="filter.contains(filter.selectedDevelopers, user)"></checkbox>
					</div>
				</div>
				<div>
					<div ng-repeat="user in $root.users | filter: { isDeleted: false }" ng-click="filter.toggle(filter.selectedTesters, user)">
						<span class="value">[[user.name]]</span>
						<checkbox checked="filter.contains(filter.selectedTesters, user)"></checkbox>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>