<div class="new-password">
	<div class="form tile">
		<h1>New Password</h1>
		<span>We've recently received a request to have your password reset. Please enter a new password below. You'll be able to sign in as soon as you do so. Thanks!</span>
		<input type="email" placeholder="Email address..." name="email" tabindex="1" data-bind="hasFocus: focusEmail, value: email" />
		<input type="password" placeholder="Password..." name="password" tabindex="2" data-bind="value: password" />
		<input type="password" placeholder="Confirm password..." name="confirm-password" tabindex="3" data-bind="value: confirmPassword" />
		<button tabindex="4" data-bind="css: { loading: loading }, click: go">Change Password</button>
	</div>
</div>