<div class="inner-profile-container">
	<div class="tile">
		<h1>Your Leaf Profile</h1>
		<div>
			<label>Email Address</label>
			<span>This also serves as your sign in username.</span>
			<input type="text" placeholder="Email address..." data-bind="value: IssueTracker.signedInUser().emailAddress" />
		</div>
		<div>
			<label>Full Name</label>
			<input type="text" placeholder="Full name..." data-bind="value: IssueTracker.signedInUser().name" />
		</div>
		<div class="password">
			<label>Password:</label>
			<span>There are no restrictions on the password you can enter. Your password can be as secure as you want it to be. If you leave this blank, your password will remain unchanged when you save your changes.</span>
			<input type="password" placeholder="Password..." data-bind="value: password" />
			<input class="right" type="password" placeholder="Confirmed password..." data-bind="value: confirmed" />
		</div>
		<div>
			<label>Phone:</label>
			<span>This field is entirely optional. We only ask for it in the rare event we'll have to contact you for support issues in the future.</span>
			<input type="text" placeholder="Phone..." data-bind="value: IssueTracker.signedInUser().phone" />
		</div>
	</div>
</div>