<script type="text/javascript">
	IssueTracker.Project.domain = "{{{domain}}}";
</script>

<div class="inner-project-container">
	<div class="left">
		<div class="project-info tile description-form">
			<h1>Project Information</h1>
			<div class="project-name">
				<label>Project Name</label>
				<span>The name of the project. It's what will be used in email notifications and in references to your project throughout the application. Your project will be located here: <a target="_blank" data-bind="attr: { href: domain.replace('www', IssueTracker.projectName().formatForUrl()) }, text: domain.replace('www', IssueTracker.projectName().formatForUrl())"></a>.</span>
				<input type="text" placeholder="Project name..." data-bind="value: IssueTracker.projectName, valueUpdate: 'keyup'" />
			</div>
		</div>

		<div class="integrations tile">
			<h1>Source Control</h1>
		</div>
	</div>

	<div class="right">
		<div class="data tile">
			<h1>Milestones</h1>
			<i class="fa fa-plus" data-bind="click: function() { Base.create(Milestone.createOrUpdate); }"></i>
			<table cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th>Name</th>
						<th class="action"></th>
					</tr>
				</thead>
				<tbody data-bind="foreach: IssueTracker.milestones">
					<tr>
						<td data-bind="text: name"></td>
						<td class="action">
							<i class="fa fa-pencil" data-bind="click: function() { $root.Base.edit($root.Milestone.createOrUpdate, $data); }"></i>
							<i class="fa fa-trash-o" data-bind="click: function() { $root.Base.remove($root.Milestone.remove, $data); }"></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="data tile">
			<h1>Priorities</h1>
			<i class="fa fa-plus" data-bind="click: function() { Base.create(Priority.createOrUpdate); }"></i>
			<table cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th>Name</th>
						<th class="action"></th>
					</tr>
				</thead>
				<tbody data-bind="foreach: IssueTracker.priorities">
				<tr>
					<td data-bind="text: name"></td>
					<td class="action">
						<i class="fa fa-pencil" data-bind="click: function() { $root.Base.edit($root.Priority.createOrUpdate, $data); }"></i>
						<i class="fa fa-trash-o" data-bind="click: function() { $root.Base.remove($root.Priority.remove, $data); }"></i>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="data tile statuses">
			<h1>Statuses</h1>
			<i class="fa fa-plus" data-bind="click: function() { Base.create(Status.createOrUpdate); }"></i>
			<table cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th>Name</th>
						<th class="icon"><i class="fa fa-code"></i></th>
						<th class="icon"><i class="fa fa-flask"></i></th>
						<th class="icon"><i class="fa fa-check-circle"></i></th>
						<th class="action"></th>
					</tr>
				</thead>
				<tbody data-bind="foreach: IssueTracker.statuses">
					<tr>
						<td data-bind="text: name"></td>
						<td class="icon">
							<i class="fa fa-check-square" data-bind="visible: isDeveloperStatus"></i>
							<i class="fa fa-square-o" data-bind="visible: !isDeveloperStatus"></i>
						</td>
						<td class="icon">
							<i class="fa fa-check-square" data-bind="visible: isTesterStatus"></i>
							<i class="fa fa-square-o" data-bind="visible: !isTesterStatus"></i>
						</td>
						<td class="icon">
							<i class="fa fa-check-square" data-bind="visible: isClosedStatus"></i>
							<i class="fa fa-square-o" data-bind="visible: !isClosedStatus"></i>
						</td>
						<td class="action">
							<i class="fa fa-pencil" data-bind="click: function() { $root.Base.edit($root.Status.createOrUpdate, $data); }"></i>
							<i class="fa fa-trash-o" data-bind="click: function() { $root.Base.remove($root.Status.remove, $data); }"></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/html" id="create-template">
	<div data-bind="attr: { class: 'create-or-update form two-button ' + type }">
		<h1 data-bind="text: (create() ? 'Create' : 'Edit') + ' ' + type.capitalize()"></h1>
		<span data-bind="text: 'Once your ' + type + ' has been created, you can drag its location in the table to set its order throughout the application.'"></span>
		<div class="input-container">
			<input type="text" data-bind="attr: { placeholder: type.capitalize() + ' name...' }, value: data.name" />
		</div>
		<!-- ko if: type == 'status' -->
		<div class="options">
			<div data-bind="click: toggleDeveloper">
				<i class="fa fa-check-square" data-bind="visible: data.isDeveloperStatus()"></i>
				<i class="fa fa-square-o" data-bind="visible: !data.isDeveloperStatus()"></i>
				<span class="name">Developer</span>
				<span class="description">Marking a status as 'developer' indicates that the user assigned as a developer to the issue with this status needs to take action.</span>
			</div>
			<div data-bind="click: toggleTester">
				<i class="fa fa-check-square" data-bind="visible: data.isTesterStatus()"></i>
				<i class="fa fa-square-o" data-bind="visible: !data.isTesterStatus()"></i>
				<span class="name">Tester Status</span>
				<span class="description">Marking a status as 'tester' indicates that the user assigned as a tester to the issue with this status needs to take action.</span>
			</div>
			<div data-bind="click: toggleClosed">
				<i class="fa fa-check-square" data-bind="visible: data.isClosedStatus()"></i>
				<i class="fa fa-square-o" data-bind="visible: !data.isClosedStatus()"></i>
				<span class="name">Closed Status</span>
				<span class="description">Any issue with a 'closed' status indicates that the issue needs no more action by anybody and is considered complete.</span>
			</div>
		</div>
		<!-- /ko -->
		<div class="button-container first">
			<button data-bind="text: (create() ? 'Create ' : 'Save ') + ' ' + type.capitalize(), click: confirm, css: { loading: loading }"></button>
		</div>
		<div class="button-container">
			<button data-bind="click: cancel">Cancel</button>
		</div>
	</div>
</script>

<script type="text/html" id="delete-template">
	<div class="form two-button delete">
		<h1 data-bind="text: 'Delete ' + type.capitalize() + '?'"></h1>
		<span><b>WARNING:</b> This action is irreverisble.</span>
		<span data-bind="text: 'Issues that have this ' + type + ' will need a new ' + type + '. Where should they go?'"></span>
		<select data-bind="foreach: switchTo">
			<option data-bind="value: id, text: name"></option>
		</select>
		<div class="button-container first">
			<button data-bind="click: function() { $root.confirm($root.remove); }, text: 'Delete ' + type.capitalize()"></button>
		</div>
		<div class="button-container">
			<button data-bind="click: cancel">Cancel</button>
		</div>
	</div>
</script>