<script type="text/javascript">
	IssueTracker.Project.domain = "{{{domain}}}";
</script>

<div class="inner-project-container">
	<div class="left">
		<div class="project-info tile description-form">
			<h1>Project Information</h1>
			<div class="project-name">
				<label>Project Name</label>
				<span>The name of the project. It's what will be used in email notifications and in references to your project throughout the application. Your project will be located here: <a target="_blank" data-bind="attr: { href: domain.replace('www', IssueTracker.projectName().formatForUrl()) }, text: domain.replace('www', IssueTracker.projectName().formatForUrl())"></a>.</span>
				<input type="text" placeholder="Project name..." data-bind="value: IssueTracker.projectName, valueUpdate: 'keyup'" />
			</div>
		</div>
	</div>

	<div class="right">
		<div class="data tile">
			<h1>Milestones</h1>
			<i class="fa fa-plus" data-bind="click: Milestone.create, tooltip: 'Create Milestone'"></i>
			<table cellpadding="0" cellspacing="0" id="milestones">
				<thead>
					<tr>
						<th>Name</th>
						<th class="action"></th>
					</tr>
				</thead>
				<tbody data-bind="foreach: IssueTracker.milestones">
					<tr data-bind="attr: { 'data-id': id }">
						<td data-bind="text: name"></td>
						<td class="action">
							<i class="fa fa-pencil" data-bind="click: $root.Milestone.edit, tooltip: 'Edit Milestone'"></i>
							<i class="fa fa-trash-o" data-bind="click: $root.Milestone.remove, tooltip: 'Remove Milestone'"></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="data tile">
			<h1>Priorities</h1>
			<i class="fa fa-plus" data-bind="click: Priority.create, tooltip: 'Create Priority'"></i>
			<table cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th>Name</th>
						<th class="action"></th>
					</tr>
				</thead>
				<tbody data-bind="foreach: IssueTracker.priorities">
				<tr>
					<td data-bind="text: name"></td>
					<td class="action">
						<i class="fa fa-pencil" data-bind="click: $root.Priority.edit, tooltip: 'Edit Priority'"></i>
						<i class="fa fa-trash-o" data-bind="click: $root.Priority.remove, tooltip: 'Remove Priority'"></i>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="data tile statuses">
			<h1>Statuses</h1>
			<i class="fa fa-plus" data-bind="click: Status.create, tooltip: 'Create Status'"></i>
			<table cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th>Name</th>
						<th class="icon"><i class="fa fa-code" data-bind="tooltip: 'Developer Status'"></i></th>
						<th class="icon"><i class="fa fa-flask" data-bind="tooltip: 'Tester Status'"></i></th>
						<th class="icon"><i class="fa fa-check-circle" data-bind="tooltip: 'Complete Status'"></i></th>
						<th class="action"></th>
					</tr>
				</thead>
				<tbody data-bind="foreach: IssueTracker.statuses">
					<tr>
						<td data-bind="text: name"></td>
						<td class="icon">
							<i class="fa fa-check-square" data-bind="visible: isDeveloperStatus"></i>
							<i class="fa fa-square-o" data-bind="visible: !isDeveloperStatus"></i>
						</td>
						<td class="icon">
							<i class="fa fa-check-square" data-bind="visible: isTesterStatus"></i>
							<i class="fa fa-square-o" data-bind="visible: !isTesterStatus"></i>
						</td>
						<td class="icon">
							<i class="fa fa-check-square" data-bind="visible: isClosedStatus"></i>
							<i class="fa fa-square-o" data-bind="visible: !isClosedStatus"></i>
						</td>
						<td class="action">
							<i class="fa fa-pencil" data-bind="click: $root.Status.edit, tooltip: 'Edit Status'"></i>
							<i class="fa fa-trash-o" data-bind="click: $root.Status.remove, tooltip: 'Remove Status'"></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/html" id="create-or-update-milestone-template">
	<div class="create-or-update form milestone">
		<h1 data-bind="text: (create ? 'Create' : 'Edit') + ' Milestone'"></h1>
		<span data-bind="text: 'Once your milestone has been ' + (create ? 'created' : 'edited') + ', you can drag its location in the table to set its order throughout the application.'"></span>
		<input type="text" placeholder="Milestone name..." data-bind="value: name" />
		<div class="button-container">
			<button class="round" title="Cancel" data-bind="click: IssueTracker.Project.Milestone.cancel">
				<i class="fa fa-times"></i>
			</button>
			<button class="round" data-bind="attr: { title: (create ? 'Create ' : 'Save ') + ' Milestone' }, click: IssueTracker.Project.Milestone.confirmSave, css: { loading: IssueTracker.Project.Milestone.loading }">
				<i class="fa fa-check"></i>
			</button>
		</div>
	</div>
</script>

<script type="text/html" id="create-or-update-priority-template">
	<div class="create-or-update form priority">
		<h1 data-bind="text: (create ? 'Create' : 'Edit') + ' Priority'"></h1>
		<span data-bind="text: 'Once your priority has been ' + (create ? 'created' : 'edited') + ', you can drag its location in the table to set its order throughout the application.'"></span>
		<input type="text" placeholder="Priority name..." data-bind="value: name" />
		<div class="colour">
			<input type="text" placeholder="Colour..." data-bind="value: colour, valueUpdate: 'keyup'" />
			<span data-bind="style: { background: colour }"></span>
		</div>
		<div class="button-container">
			<button class="round" title="Cancel" data-bind="click: IssueTracker.Project.Priority.cancel">
				<i class="fa fa-times"></i>
			</button>
			<button class="round" data-bind="attr: { title: (create ? 'Create ' : 'Save ') + ' Priority' }, click: IssueTracker.Project.Priority.confirmSave, css: { loading: IssueTracker.Project.Priority.loading }">
				<i class="fa fa-check"></i>
				<img src="../images/light-spinner.png" alt="" />
			</button>
		</div>
	</div>
</script>

<script type="text/html" id="create-or-update-status-template">
	<div class="create-or-update form status">
		<h1 data-bind="text: (create ? 'Create' : 'Edit') + ' Status'"></h1>
		<span data-bind="text: 'Once your status has been ' + (create ? 'created' : 'edited') + ', you can drag its location in the table to set its order throughout the application.'"></span>
		<div class="input-container">
			<input type="text" placeholder="Status name..." data-bind="value: name" />
		</div>
		<div class="options">
			<div data-bind="click: IssueTracker.Project.Status.toggleDeveloper">
				<i class="fa fa-check-square" data-bind="visible: isDeveloperStatus()"></i>
				<i class="fa fa-square-o" data-bind="visible: !isDeveloperStatus()"></i>
				<span class="name">Developer</span>
				<span class="description">Marking a status as 'developer' indicates that the user assigned as a developer to the issue with this status needs to take action.</span>
			</div>
			<div data-bind="click: IssueTracker.Project.Status.toggleTester">
				<i class="fa fa-check-square" data-bind="visible: isTesterStatus()"></i>
				<i class="fa fa-square-o" data-bind="visible: !isTesterStatus()"></i>
				<span class="name">Tester Status</span>
				<span class="description">Marking a status as 'tester' indicates that the user assigned as a tester to the issue with this status needs to take action.</span>
			</div>
			<div data-bind="click: IssueTracker.Project.Status.toggleClosed">
				<i class="fa fa-check-square" data-bind="visible: isClosedStatus()"></i>
				<i class="fa fa-square-o" data-bind="visible: !isClosedStatus()"></i>
				<span class="name">Closed Status</span>
				<span class="description">Any issue with a 'closed' status indicates that the issue needs no more action by anybody and is considered complete.</span>
			</div>
		</div>
		<div class="button-container">
			<button class="round" title=Cancel" data-bind="click: IssueTracker.Project.Status.cancel">
				<i class="fa fa-times"></i>
			</button>
			<button class="round" data-bind="attr: { title: (create ? 'Create ' : 'Save ') + ' Status' }, click: IssueTracker.Project.Status.confirmSave, css: { loading: IssueTracker.Project.Status.loading }">
				<i class="fa fa-check"></i>
			</button>
		</div>
	</div>
</script>

<script type="text/html" id="delete-milestone-template">
	<div class="form delete">
		<h1>Delete Milestone?</h1>
		<span><b>WARNING:</b> This action is irreverisble.</span>
		<span>Issues that have this milestone will need a new milestone. Where should they go?</span>
		<select data-bind="value: newMilestone, foreach: newMilestones">
			<option data-bind="value: id, text: name"></option>
		</select>
		<div class="button-container">
			<button class="round" title="Cancel" data-bind="click: IssueTracker.Project.Milestone.cancel">
				<i class="fa fa-times"></i>
			</button>
			<button class="round" title="Delete Milestone" data-bind="click: function() { IssueTracker.Project.Milestone.confirmRemove($data); }, css: { loading: IssueTracker.Project.Milestone.loading }">
				<i class="fa fa-check"></i>
				<img src="../images/light-spinner.png" alt="" />
			</button>
		</div>
	</div>
</script>

<script type="text/html" id="delete-priority-template">
	<div class="form delete">
		<h1>Delete Priority?</h1>
		<span><b>WARNING:</b> This action is irreverisble.</span>
		<span>Issues that have this priority will need a new priority. Where should they go?</span>
		<select data-bind="value: newPriority, foreach: newPriorities">
			<option data-bind="value: id, text: name"></option>
		</select>
		<div class="button-container">
			<button class="round" title="Cancel" data-bind="click: IssueTracker.Project.Priority.cancel">
				<i class="fa fa-times"></i>
			</button>
			<button class="round" title="Delete Priority" data-bind="click: function() { IssueTracker.Project.Priority.confirmRemove($data); }, css: { loading: IssueTracker.Project.Priority.loading }">
				<i class="fa fa-check"></i>
			</button>
		</div>
	</div>
</script>

<script type="text/html" id="delete-status-template">
	<div class="form delete">
		<h1>Delete Status?</h1>
		<span><b>WARNING:</b> This action is irreverisble.</span>
		<span>Issues that have this status will need a new status. Where should they go?</span>
		<select data-bind="value: newStatus, foreach: newStatuses">
			<option data-bind="value: id, text: name"></option>
		</select>
		<div class="button-container first">
			<button class="round" title="Cancel" data-bind="click: IssueTracker.Project.Status.cancel">
				<i class="fa fa-times"></i>
			</button>
			<button class="round" title="Delete Status" data-bind="click: function() { IssueTracker.Project.Status.confirmRemove($data); }, css: { loading: IssueTracker.Project.Status.loading }">
				<i class="fa fa-check"></i>
				<img src="../images/light-spinner.png">
			</button>
		</div>
	</div>
</script>