<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<title data-bind="text: 'Leaf' + (IssueTracker.selectedIssue() ? ' - ' + IssueTracker.selectedIssue().number : '')">Leaf</title>
    <link rel="stylesheet" href="/style" type="text/css" />
</head>
	<body>
        <header>
            <div class="header-wrapper">
                <!-- ko if: IssueTracker.projectId() -->
                <div class="logo">
					<a href="#/issues">
						<div>
							<img src="images/leaf.png" alt="logo" />
						</div>
						<span>Leaf</span>
					</a>
                </div>
                <div class="menu">
                    <a data-bind="attr: { href: '#/issues' }">
                        <span>Issues</span>
                    </a>
                    <a data-bind="attr: { href: '#/users' }">
                        <span>Users</span>
                    </a>
                </div>
                <div class="account">
                    <a data-bind="click: IssueTracker.Notifications.show" style="display:none;">
                        <i data-bind="attr: { class: 'fa ' + (IssueTracker.Notifications.unviewedNotifications() == 0 ? 'fa-bell-o' : 'fa-bell') }"></i>
                        <div>
                            <span data-bind="visible: IssueTracker.Notifications.unviewedNotifications() > 0, text: IssueTracker.Notifications.unviewedNotifications()"></span>
                        </div>
                    </a>
                    <a id="user-information" data-bind="click: UserSettings.show, css: { selected: UserSettings.visible() }">
						<i class="fa fa-user"></i>
                    </a>
                    <a id="create-issue" data-bind="attr: { href: '#/new-issue' }">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
				<div class="search">
					<input type="text" placeholder="Search..." data-bind="value: Search.text, enter: Search.go" />
					<i class="fa fa-search" data-bind="click: Search.go"></i>
				</div>
                <!-- /ko -->
            </div>

            <!-- ko if: signedInUser() != null -->
            <section class="user-information" data-bind="slideVisible: UserSettings.visible">
                <div>
                    <div class="info">
                        <div class="user">
                            <img data-bind="attr: { src: Utilities.getUserProfileImageLocation(signedInUser().id()) }" alt="user-profile-image" />
                            <span data-bind="text: signedInUser().name"></span>
							<a data-bind="click: UserSettings.signOut">Sign Out</a>
                        </div>
                    </div>
					<div class="actions">
						<div data-bind="click: UserSettings.EmailNotifications.show">
							<i class="fa fa-envelope"></i>
							<span>Email Notifications</span>
						</div>
						<div data-bind="click: UserSettings.ChangePassword.show">
							<i class="fa fa-lock"></i>
							<span>Change Password</span>
						</div>
					</div>
                </div>
            </section>
            <!-- /ko -->
        </header>

        <div class="bar-container"></div>

		<section class="content-wrapper">
			<div class="error404 error-code">
				<div>
					<h1>The page you're looking for was not found</h1>
					<span>Unfortunately, the page you're looking for wasn't found. If you feel this page showed up in error, please contact technical support.</span>
				</div>
			</div>
			<div class="error500 error-code">
				<div>
					<h1>An unexpected error has occurred</h1>
					<span>Unfortunately, we've encountered an unexpected error. Chances are, this problem is intermittent and can be fixed by retrying your initial action. Regardless, our support team has already been notified of the error and will be attempting to fix it. If you feel the need to speak with someone directly, please contact technical support. Thanks, and sorry for any inconvenience.</span>
				</div>
			</div>

			<section class="content-container"></section>
		</section>
		
		<div class="popup">
			<div class="arrow top left">
				<div></div>
			</div>
			<div class="content" data-bind="html: popup"></div>
			<div class="arrow bottom left">
				<div></div>
			</div>
		</div>

		<div class="dialog" data-bind="html: dialog"></div>
		<div class="overlay"></div>
		
		<div class="global-feedback">
			<i class="fa fa-warning"></i>
			<i class="fa fa-check"></i>
			<div>
				<span></span>
				<i class="fa fa-times"></i>
			</div>
		</div>

        <div class="notifications slide-menu">
            <div class="mark-as-viewed">
                <i class="fa fa-check"></i>
                <span>Mark all notifications as read</span>
            </div>
            <!-- ko foreach: IssueTracker.Notifications.notifications -->
            <!-- ko if: type() === 'issue-assigned' -->
            <div class="notification" data-bind="css: { viewed: isViewed }, click: function() { IssueTracker.Notifications.navigateToIssue(issue().number, id()); }">
                <div>
                    <h3>Issue Assigned</h3>
                    <span class="details" data-bind="text: '#' + $data.issue().number + ': ' + $data.issue().name"></span>
                </div>
                <i class="fa fa-angle-right"></i>
            </div>
            <!-- /ko -->
            <!-- ko if: type() === 'issue-updated' -->
            <div class="notification" data-bind="css: { viewed: isViewed }, click: function() { IssueTracker.Notifications.navigateToIssue(issue().number, id()); }">
                <div>
                    <h3>Issue Updated</h3>
                    <span class="details" data-bind="text: '#' + $data.issue().number + ': ' + $data.issue().name"></span>
                </div>
                <i class="fa fa-angle-right"></i>
            </div>
            <!-- /ko -->
            <!-- ko if: type() === 'comment-added' -->
            <div class="notification" data-bind="css: { viewed: isViewed }, click: function() { IssueTracker.Notifications.navigateToIssue(issue().number, id()); }">
                <div>
                    <h3>Comment Added</h3>
                    <span class="details" data-bind="text: '#' + $data.issue().number + ': ' + $data.issue().name"></span>
                    <span class="comment" data-bind="text: $data.comment().substring(0, Math.max($data.comment().length, 200))"></span>
                </div>
                <i class="fa fa-angle-right"></i>
            </div>
            <!-- /ko -->
            <!-- ko if: type() === 'issue-deleted' -->
            <div class="notification" data-bind="css: { viewed: isViewed }">
                <div>
                    <h3>Issue Deleted</h3>
                    <span class="details" data-bind="text: '#' + $data.issue().number + ': ' + $data.issue().name"></span>
                </div>
                <i class="fa fa-angle-right"></i>
            </div>
            <!-- /ko -->
            <!-- /ko -->
        </div>

		<script type="text/html" id="email-notification-settings-template">
			<div class="email-notifications-dialog form two-button">
				<h1>Email Notification Settings</h1>
				<div class="setting" data-bind="click: function() { IssueTracker.UserSettings.EmailNotifications.toggle('emailNotificationForIssueAssigned'); }">
					<i class="fa fa-square" data-bind="attr: { class: 'fa ' + (IssueTracker.signedInUser().emailNotificationForIssueAssigned() ? 'fa-check-square' : 'fa-square') }"></i>
					<span class="title">Issue Assigned</span>
                    <span class="more-info">If you have this notification enabled, you'll receive an email when an issue is assigned to you as either developer or tester.</span>
				</div>
				<div class="setting" data-bind="click: function() { IssueTracker.UserSettings.EmailNotifications.toggle('emailNotificationForIssueUpdated'); }">
					<i class="fa fa-square" data-bind="attr: { class: 'fa ' + (IssueTracker.signedInUser().emailNotificationForIssueUpdated() ? 'fa-check-square' : 'fa-square') }"></i>
					<span class="title">Issue Updated</span>
                    <span class="more-info">You'll be notified by email if you have this option checked when an issue you're assigned to is changed in any way.</span>
				</div>
				<div class="setting" data-bind="click: function() { IssueTracker.UserSettings.EmailNotifications.toggle('emailNotificationForIssueDeleted'); }">
					<i class="fa fa-square" data-bind="attr: { class: 'fa ' + (IssueTracker.signedInUser().emailNotificationForIssueDeleted() ? 'fa-check-square' : 'fa-square') }"></i>
					<span class="title">Issue Deleted</span>
                    <span class="more-info">If an issue you're assigned to as either developer or tester is deleted and you have this option checked, you'll get an email.</span>
				</div>
				<div class="setting" data-bind="click: function() { IssueTracker.UserSettings.EmailNotifications.toggle('emailNotificationForNewCommentForAssignedIssue'); }">
					<i class="fa fa-square" data-bind="attr: { class: 'fa ' + (IssueTracker.signedInUser().emailNotificationForNewCommentForAssignedIssue() ? 'fa-check-square' : 'fa-square') }"></i>
					<span class="title">New Comment on Assigned Issue</span>
                    <span class="more-info">When a comment is added to an issue you're assigned to and you have this option checked, you'll receive an email.</span>
				</div>
				<div class="button-container first">
					<button data-bind="click: save, css: { loading: loading }">Save Email Notifications</button>
				</div>
				<div class="button-container">
					<button data-bind="click: cancel">Cancel</button>
				</div>
			</div>
		</script>

		<script type="text/html" id="change-password-template">
			<div class="change-password form two-button">
				<h1>Change Password</h1>
				<input type="password" placeholder="Current password..." data-bind="value: currentPassword" />
				<input type="password" placeholder="New password..." data-bind="value: newPassword" />
				<input type="password" placeholder="Confirmed password..." data-bind="value: confirmedPassword" />
				<div class="button-container first">
					<button data-bind="click: save, css: { loading: loading }">Change Password</button>
				</div>
				<div class="button-container">
					<button data-bind="click: cancel">Cancel</button>
				</div>
			</div>
		</script>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/path.js/0.8.4/path.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highcharts/3.0.7/highcharts.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/json2/20130526/json2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jStorage/0.4.4/jstorage.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.9/jquery.transit.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>
        {{{renderedScripts}}}

        <script type="text/javascript">

            $(function () {
                var root = window.IssueTracker || (window.IssueTracker = {});
                root.virtualDirectory = ko.observable("/");
                root.priorities = ko.observableArray({{{priorities}}});
				root.statuses = ko.observableArray({{{statuses}}});
				root.users = ko.observableArray({{{users}}});
				root.transitions = ko.observableArray({{{transitions}}});
				root.projects = ko.observableArray({{{projects}}});
				root.milestones = ko.observableArray({{{milestones}}});
				root.issueTypes = ko.observableArray({{{issueTypes}}});
                root.projectName = ko.observable({{{projectName}}});
                root.projectId = ko.observable({{{projectId}}});
				root.signedInUser = ko.observable(IssueTracker.Utilities.createPropertyObservables({{{signedInUser}}}));
				root.selectedIssue = ko.observable();

				IssueTracker.error = ko.observable("");
				IssueTracker.success = ko.observable("");
				IssueTracker.title = ko.observable();
				IssueTracker.dialog = ko.observable();
				IssueTracker.popup = ko.observable();
				IssueTracker.Init.init();
            });
        </script>
	</body>
</html>
