<!DOCTYPE html>

<html ng-app="leaf">
<head>
	<meta name="viewport" content="width=device-width" />
	<title text="">Leaf</title>
	<link rel="stylesheet" href="{{{styleLocation}}}" type="text/css" />
</head>
	<body>
		<header>
			<div class="header-wrapper">
				<div ng-if="$root.project">
					<div class="logo">
						<a href="#/issues">
							<div>
								<img src="images/leaf.png" alt="logo" />
							</div>
							<span>Leaf</span>
						</a>
					</div>
                    <issues-header></issues-header>
					<div class="actions">
                        <div class="search">
                            <input type="text" placeholder="Search..." data-bind="value: Search.text, enter: Search.go" />
                            <i class="fa fa-search" data-bind="click: Search.go"></i>
                        </div>
						<a class="settings-trigger" tooltip="Settings" ng-click="settings.show()">
							<i class="fa fa-gears"></i>
						</a>
						<a tooltip="Create Issue" tooltip-alignment="right" authorized="create-issue" ng-click="issue.show()">
							<i class="fa fa-plus"></i>
						</a>
					</div>
					
				</div>
			</div>
		</header>

		<div class="bar-container"></div>

		<section class="content-wrapper">
			<div class="error404 error-code">
				<div>
					<h1>The page you're looking for was not found</h1>
					<span>Unfortunately, the page you're looking for wasn't found. If you feel this page showed up in error, please contact technical support.</span>
				</div>
			</div>
			<div class="error500 error-code">
				<div>
					<h1>An unexpected error has occurred</h1>
					<span>Unfortunately, we've encountered an unexpected error. Chances are, this problem is intermittent and can be fixed by retrying your initial action. Regardless, our support team has already been notified of the error and will be attempting to fix it. If you feel the need to speak with someone directly, please contact technical support. Thanks, and sorry for any inconvenience.</span>
				</div>
			</div>

			<section class="content-container" ng-view></section>
		</section>
		
		<div class="popup">
			<div class="arrow top left">
				<div></div>
			</div>
			<div class="content" data-bind="html: popup"></div>
			<div class="arrow bottom left">
				<div></div>
			</div>
		</div>

		<div class="dialog" data-bind="html: dialog"></div>
		<div class="overlay"></div>

		<feedback></feedback>
        
        <slide-menu class="issues-sort" show="issueSortVisible" trigger="issue-sort-trigger">
            <div class="issue-sort-menu">
                <div ng-repeat="sort in sorts">
                    <span>[[sort.name]]</span>
                    <i class="fa fa-check"></i>
                </div>
            </div>
        </slide-menu>

		<slide-menu class="settings" show="settings.visible" anchor="right">
			<a class="account" ng-click="profile.show()" ng-if="user !== undefined">
				<div class="image">
					<profile-image id="user.id" size="32"></profile-image>
				</div>
				<div class="labels">
					<span class="name">[[user.name]]</span>
					<br />
					<span class="email sub">[[user.emailAddress]]</span>
				</div>
				<i class="fa fa-angle-right"></i>
			</a>
			<a href="#/project/settings">
				<div>
					<span class="title">Project Settings</span>
					<span class="description sub">Name, milestones, priorities, statuses and integrations.</span>
				</div>
				<i class="fa fa-angle-right"></i>
			</a>
			<a>
				<div>
					<span class="title">Account Settings</span>
					<span class="description sub">Plan settings, billing information, and payment history.</span>
				</div>
				<i class="fa fa-angle-right"></i>
			</a>
			<a class="sign-out">
				<span class="title" ng-click="settings.signOut()">Sign Out</span>
			</a>
		</slide-menu>

		<div id="tooltip-container" class="">
			<div class="arrow"></div>
			<span></span>
		</div>

		<script type="text/javascript" src="/scripts/thirdParty/jquery.min.js"></script>
		<script type="text/javascript" src="/scripts/thirdParty/angular.min.js"></script>
		<script type="text/javascript" src="/scripts/thirdParty/angular-animate.min.js"></script>
		<script type="text/javascript" src="/scripts/thirdParty/angular-route.min.js"></script>
		<script type="text/javascript" src="/scripts/thirdParty/angular-md5.min.js"></script>
		<script type="text/javascript" src="/scripts/thirdParty/highcharts.js"></script>
		<script type="text/javascript" src="/scripts/thirdParty/json2.min.js"></script>
		<script type="text/javascript" src="/scripts/thirdParty/jquery.transit.min.js"></script> <!-- forked for height: auto animation support from here: https://github.com/NV/jquery.transit -->
		<script type="text/javascript" src="/scripts/thirdParty/md5.js"></script>
		<script type="text/javascript" src="/scripts/thirdParty/nanobar.js"></script>
		<script type="text/javascript" src="/scripts/thirdParty/jquery.timeago.min.js"></script>
		<script type="text/javascript" src="/scripts/thirdParty/jquery-ui-1.10.4.custom.min.js"></script>
		<script type="text/javascript">
			window.IssueTracker = {
				virtualDirectory: "/",
				app: angular.module("leaf", ["ngRoute", "angular-md5"])
			};

			IssueTracker.app.run(function($rootScope) {
				$rootScope.feedbackText = "";
				$rootScope.feedbackError = false;

				$rootScope.users = {{{users}}};
				$rootScope.milestones = {{{milestones}}};
				$rootScope.priorities = {{{priorities}}};
				$rootScope.statuses = {{{statuses}}};
				$rootScope.issueTypes = {{{issueTypes}}};
				$rootScope.permissions = {{{permissions}}};
			});
		</script>
		{{{renderedScripts}}}

		<script type="text/html" id="attached-files-template">
			<a data-bind="attr: { href: IssueTracker.virtualDirectory + 'issues/download-attached-file/' + name + '?id=' + id() }">
				<span class="name" data-bind="text: name"></span>
				<i class="fa fa-times"></i>
				<span class="size" data-bind="text: size"></span>
			</a>
		</script>

		<modal class="profile" title="Profile" ok="profile.ok" cancel="profile.cancel" loading="$root.profile.loading" visible="profile.visible">
			<div class="container">
				<div>
					<label>Email Address</label>
					<span>This also serves as your sign in username.</span>
					<text type="text" placeholder="Email address..." ng-model="$root.user.emailAddress"></text>
				</div>
				<div>
					<label>Full Name</label>
					<text type="text" placeholder="Full name..." ng-model="$root.user.name"></text>
				</div>
				<div class="password">
					<label>Password</label>
					<span>There are no restrictions on the password you can enter. Your password can be as secure as you want it to be. If you leave this blank, your password will remain unchanged when you save your changes.</span>
					<text type="password" placeholder="Password..." ng-model="profile.password"></text>
					<text class="right" type="password" placeholder="Confirmed password..." ng-model="profile.confirmed"></text>
				</div>
				<div>
					<label>Phone</label>
					<span>This field is entirely optional. We only ask for it in the rare event we'll have to contact you for support issues in the future.</span>
					<text type="text" placeholder="Phone..." ng-model="$root.user.phone"></text>
				</div>
			</div>
		</modal>
		
		<modal class="issue" loading="issue.loading" visible="issue.visible" custom-header custom-buttons>
			<h1>Issue</h1>
			<div class="overlay"></div>
			<loader ng-show="issue.loading"></loader>
			<div class="data" ng-class="{ show: !issue.loading }">
				<text type="text" ng-model="newIssue.description" placeholder="Description..."></text>
				<text type="textarea" ng-model="newIssue.details" placeholder="Details..."></text>
				<div class="dropdowns">
					<dropdown items="$root.milestones" placeholder="Milestone..." selected="issue.milestone"></dropdown>
					<dropdown items="$root.priorities" placeholder="Priority..." selected="issue.priority"></dropdown>
					<dropdown items="$root.statuses" placeholder="Status..." selected="issue.status"></dropdown>
					<dropdown items="$root.users" placeholder="Developer..." selected="issue.developer"></dropdown>
					<dropdown items="$root.users" placeholder="Tester..." selected="issue.tester"></dropdown>
					<dropdown items="$root.issueTypes" placeholder="Issue Type..." selected="issue.issueType"></dropdown>
				</div>
			</div>
		</modal>
	</body>
</html>
