<div class="welcome-container">
	<div class="logo">
		<div>
			<img src="/images/leaf.png" alt="logo"/>
			<span class="name">Leaf</span>
		</div>
	</div>

	<div class="sign-in">
		<div class="form tile">
			<h1>Sign In</h1>
			<img src="images/ajax-loader.gif" alt="" ng-show="loading" />
			<text tabindex="1" placeholder="Email address..." ng-model="emailAddress" name="email"></text>
			<text tabindex="2" placeholder="Password..." ng-model="password" type="password" name="password"></text>
			<div class="stay-signed-in">
				<checkbox checked="staySignedIn">Stay signed in?</checkbox>
				<a href="#">Forgotten password?</a>
			</div>
			<pressable text="Sign In" ng-class="{ disabled: loading }" ng-click="signIn()" tabindex="3"></pressable>
		</div>
	</div>
</div>