.users-container {
  	>loader { margin:auto; height:50px; color:@secondary-font-colour; margin-top:@spacing*2; }
  	>section {
	  div.page-actions { float:left; width:100%; margin-bottom:@spacing;
		  button.create-user-trigger { float:left; }
	  }

	  div.users-container { float:left; width:100%; .border-box; position:relative;
		  @height:46px;
		  >div { float:left; width:100%; margin-top:@small-spacing; padding:0; height:@height;
			  >* { float:left; padding:@spacing; border-left:solid 1px @border-colour; color:@primary-font-colour-light; }
			  >*:first-child { border-left:none; }
			  >profile-image { padding:0; height:100%; width:@height; .border-radius(0); }
			  >span.name { width:200px; color:black; border-left:none; }
			  >a.email { width:300px; color:@secondary-font-colour; }
			  >div.counts { float:left; padding:0; border-left:none;
				  >div { float:left; padding:0 @spacing; border-left:solid 1px @border-colour; width:65px; text-align:center;
					  >* { padding:0; vertical-align:middle; display:inline-block; line-height:@height; height:@height; }
					  >span { margin-left:2px; }
				  }
			  }
			  >div.actions { float:right; padding:0; .vertical-centre(46px); border-left:none;
				  >i { float:right; vertical-align:middle; line-height:@height; height:@height; padding:0 @spacing; cursor:pointer; color:@primary-font-colour-lightest; font-size:1.125em; }
				  >i:hover { color:@primary-font-colour; }
			  }
		  }
		  >a:first-child { margin-top:0; }
	  }

	  div.users-container.deleted { padding-top:@spacing; margin-top:@spacing; border-top:solid 1px @border-colour-semi-dark;
		  div.actions { display:none; }
		  a { cursor:pointer; }
	  }
	}
}

modal { width:500px;
  	>* { float:left; width:100%; }
}

modal.user-permissions {
	checkbox { float:left; width:100%; margin-top:@small-spacing; }
}