.users-container {
	div.page-actions { float:left; width:100%; margin-bottom:@spacing;
		button.create-user-trigger { float:left; }
	}

	div.user-container { float:left; width:33.3333%; padding-right:@spacing; .border-box;
		>div { float:left; width:100%; .tile; padding:0; }
		>div.user { margin-bottom:@spacing;
			@user-profile-image-width:35px;
			@icon-button-width:105px;
			@height:53px;
			>* { .border-box; padding:@small-spacing @spacing; }
			>img { float:left; position:relative; width:@user-profile-image-width; height:@user-profile-image-width; padding:0; margin-left:@spacing; margin-top:@small-spacing; margin-bottom:@small-spacing; }
			>h1 { float:left; width:100%; text-transform:none; letter-spacing:-1px; position:relative; padding-left:2*@spacing+@user-profile-image-width; margin-left:(@spacing+@user-profile-image-width)*-1; padding-right:@icon-button-width+@spacing; }
			>div.icon-buttons { float:right; position:relative; width:@icon-button-width; margin-left:@icon-button-width*-1; height:@height; padding:0;
				>i { float:right; vertical-align:middle; line-height:@height; height:@height; padding:0 @small-spacing; cursor:pointer; }
				>i:hover { .hover; }
			}
			>div.info { float:left; width:100%; border-top:solid 1px @border-colour; padding:@spacing;
				@info-height:19px;
				>div { float:left; width:100%; margin-top:@small-spacing; height:@info-height;
					>* { line-height:@info-height; height:100%; display:inline-block; vertical-align:middle; }
					>i { float:left; margin-right:@small-spacing; }
					>span.label { float:left; }
					>span.value { float:right; font-weight:bold; color:@secondary-font-colour; }
				}
				>div:first-child { margin-top:0; }
			}
		}
	}
	div.user-container:nth-child(4n) { padding-right:0; }
}

div.edit-user, div.create-user { float:left; width:600px;
	>h1 { float:left; width:100%; }
	>span { float:left; width:100%; margin-top:@small-spacing; }
	>div.button-container { float:left; width:50%; padding-left:@small-spacing; .border-box; margin-top:@small-spacing;
		>button { width:100%; }
	}
	>div.button-container.first { padding-left:0; }
}