.email-notifications-dialog { padding:@spacing; .border-box; width:500px;
	>h2 { float:left; width:100%; margin-bottom:@small-spacing; }
	>div { float:left; width:100%; margin-top:@small-spacing; }
	>div.setting {
		>span { float:left; }
		>i { float:right; }
	}
	>div.buttons { margin-top:@small-spacing;
		>button { float:right; margin-left:@spacing; }
	}
}