.email-notifications-dialog {
	>div { float:left; width:100%; padding:@small-spacing @spacing; border-top:solid 1px @border-colour-dark; }
	>div:first-child { border-top:none; }
	>div.setting {
		>span { float:left; }
	}
	>div.buttons {
		>button { float:right; margin-left:@spacing; }
	}
}