@font-face {
	font-family: 'roboto-bold';
	src: url('../fonts/roboto-bold-webfont.eot');
	src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto-bold-webfont.woff') format('woff'),
	url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
	url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: url('../fonts/roboto-regular-webfont.eot');
	src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto-regular-webfont.woff') format('woff'),
	url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
	url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'roboto-condensed-bold';
	src: url('../fonts/robotocondensed-bold-webfont.eot');
	src: url('../fonts/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/robotocondensed-bold-webfont.woff') format('woff'),
	url('../fonts/robotocondensed-bold-webfont.ttf') format('truetype'),
	url('../fonts/robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'roboto-condensed';
	src: url('../fonts/robotocondensed-regular-webfont.eot');
	src: url('../fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/robotocondensed-regular-webfont.woff') format('woff'),
	url('../fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
	url('../fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald'), local('Oswald'), url(../fonts/Oswald.woff) format('woff');
}