.issues-container {
	div.data-container { float:left; width:100%; overflow:hidden;
		@filter-width:250px;
		>div.issues-list { float:left; width:100%; min-height:1px; font-size:1em; padding-right:@filter-width+@spacing; position:relative; .border-box;
			>div.issues-loading { float:left; width:100%; padding-top:@spacing; }
			>div.no-issues { float:left; width:100%;
				>* { float:left; width:100%; }
				>span { margin-top:@spacing; color:@primary-font-colour-light; }
			}
			@priority-width:@small-spacing;
			>div.data {
				>a { float:left; width:100%; cursor:pointer; padding:0; display:block; color:@primary-font-colour; margin-top:@spacing;
					>div { float:left; width:100%; height:100%; overflow:hidden; border-left:solid @priority-width; .border-box;
						>div.info { float:left; width:100%; .border-box; padding:@spacing @spacing;
							>* { margin-top:@small-spacing; .border-box; }
							>h2.number { float:left; font-weight:bold; color:black; margin-top:0; }
							>h2.name { float:left; color:black; .ellipsis; margin-top:0; padding-left:@small-spacing; font-weight:normal; }
							>span.date { float:right; color:@primary-font-colour-light; font-size:0.875em; margin-top:0; }
							>span.updated { float:left; width:100%; color:@secondary-font-colour; font-size:0.875em; margin-top:@tiny-spacing; }
							>span.comments { float:left; width:100%; white-space:nowrap; .ellipsis; color:@primary-font-colour-light; }
						}
						>div.status { float:left; width:100%; font-size:0.875em; color:@primary-font-colour-light; border-top:solid 1px @border-colour-light; background-color:#F5F5F5;
							>span { float:left; padding:@small-spacing @spacing; border-left:solid 1px @border-colour-light; }
							>span:first-child { border-left:none; }
						}
					}
					>div.low { border-color:@low-priority-background; }
					>div.medium { border-color:@medium-priority-background; }
					>div.high { border-color:@high-priority-background; }
					>div.critical { border-color:@critical-priority-background; }
				}
				>a:first-child { margin-top:0; }
				>a:hover {
                    h2.name { text-decoration:underline; }
				}
			}
			>div.data.collapsed { float:left; width:100%; .tile; padding:0;
				@info-height:35px;
				>a { margin-top:0; box-shadow:none;
					>div {
						>div.info { height:@info-height; padding:0; padding-right:@small-spacing;
							h2 { font-size:1em; text-transform:none; }
							h2.number { width:50px; text-align:center; color:black; font-weight:bold; }
							span.updated { display:none; }
							span.comments { display:none; }
						}
						>div.status { display:none; }
					}
					>* { height:100%; line-height:@info-height; display:inline-block; vertical-align:middle; }
				}
				>a:first-child { border-top:none; }
                >a:nth-child(even) { background:#F5F5F5;
                  h2.number { background:#F0F0F0; }
                }
			}
			>div.loading { float:left; width:100%; text-align:center; padding:@spacing; .border-box;
				>img { margin:auto; width:30px; height:30px; }
			}
		}
		@sidebar-background:#333333;
		>div.sidebar { float:left; width:@filter-width; position:relative; margin-left:@filter-width*-1; background:@sidebar-background; padding-bottom:100000px; margin-bottom:-100000px; box-shadow:0 2px 8px rgba(0, 0, 0, 0.3);
			>div { float:left; width:100%; color:@primary-font-colour-dark-background; .border-box;
				>h1 { float:left; .border-box; padding:0 @spacing; .condensed-font; }
			}
			>div.filter {
				@filter-item-height:24px;
				>* { float:left; width:100%; }
				>div { border-bottom:solid 1px @border-colour-dark; padding:@small-spacing 0;
					>* { float:left; width:100%; }
					>h3 { padding:0 @small-spacing; .border-box; margin-bottom:@small-spacing; }
					>div { cursor:pointer; padding:0 @spacing; .border-box;
						>* { line-height:@filter-item-height; vertical-align:middle; display:inline-block; height:100%; }
						>span { float:left; }
						>i { float:right; margin:0; font-size:0.875em; }
						>i.fa-check-square { font-weight:bold; color:@secondary-font-colour-light; }
					}
					>div:hover { background:lighten(@sidebar-background, 5%); }
				}
				>div:first-child { margin-top:0; }
			}
		}
	}
}