<div class="promo-container">
	<div class="promo tile">
		<h1>Promo stuff</h1>
	</div>
</div>

<div class="sign-in-container">
	<div class="sign-in input tile">
		<h1>Sign in</h1>
		<input type="text" placeholder="Email address..." data-bind="value: SignIn.model.email" />
		<input type="password" placeholder="Password..." data-bind="value: SignIn.model.password" />
		<button data-bind="css: { loading: SignIn.loading }">Sign In</button>
	</div>
	<div class="register input tile">
		<h1>Sign up</h1>
		<span>We'll give you a month to check things out completely free of charge. If at the end of the month you want to continue with us, we'll send you an email asking you to provide payment information.</span>
		<div class="subdomain">
			<input type="text" placeholder="Project name..." />
			<span>.domain.com</span>
		</div>
		<input type="text" placeholder="First name..." />
		<input type="text" placeholder="Last name..." />
		<input type="text" placeholder="Email address..."/>
		<input type="password" placeholder="Password..." />
		<input type="password" placeholder="Confirm Password..." />
		<button>Sign up!</button>
	</div>
</div>