<div class="dropdown" ng-click="show($event)" dropdown-id="[[id]]">
	<input type="text" readonly placeholder="[[placeholder]]" value="[[selected]]" id="[[selectedId]]" name="[[name]]" ng-model="ngModel.name"  />
	<i class="fa fa-angle-down"></i>
	<div>
		<div style="width: [[containerWidth]]px;" option class="options-container shadow" ng-class="{ visible: visible }">
			<div id="0" ng-click="select({ id: 0 })" ng-show="emptyAllowed">(none)</div>
			<div ng-repeat="option in options" ng-click="select(option)" id="[[option.id]]">[[option.name]]</div>
		</div>
	</div>
</div>