@model IssueTracker.Common.ViewModels.UsersViewModel

<script type="text/javascript">
	$(function() {
		var root = IssueTracker.Users;
		root.users = ko.observableArray([]);
		$.each(@Html.Raw(Json.Encode(Model.Users)), function(i, user) {
			root.users.push(IssueTracker.Utilities.createPropertyObservables(user));
		});
	});
</script>

<div class="page-actions">
	<button class="icon create-user-trigger" data-bind="click: Create.create">
		<i class="fa fa-plus"></i>
		<span>Create User</span>
	</button>
</div>

<!-- ko foreach: users -->
<div class="user-container">
	<div class="user">
		<h1 data-bind="text: name"></h1>
		<div class="info">
			<div>
				<i class="fa fa-fw fa-envelope-o"></i>
				<span class="label">Email address</span>
				<span class="value" data-bind="text: emailAddress()"></span>
			</div>
			<div>
				<i class="fa fa-fw fa-wrench"></i>
				<span class="label">Developer</span>
				<span class="value" data-bind="text: developerIssueCount() + ' issue' + (developerIssueCount() == 1 ? '' : 's')"></span>
			</div>
			<div>
				<i class="fa fa-fw fa-flask"></i>
				<span class="label">Tester</span>
				<span class="value" data-bind="text: testerIssueCount() + ' issue' + (testerIssueCount() == 1 ? '' : 's')"></span>
			</div>
		</div>
		<div class="actions">
			<div>
				<button class="icon" data-bind="click: $parent.ResetPassword.reset">
					<i class="fa fa-key"></i>
					<span>Reset Password</span>
				</button>
			</div>
			<div>
				<button class="icon" data-bind="click: $parent.DeleteUser.delete">
					<i class="fa fa-times"></i>
					<span>Delete User</span>
				</button>
			</div>
			<div>
				<button class="icon" data-bind="click: $parent.EditUser.edit">
					<i class="fa fa-pencil"></i>
					<span>Edit User</span>
				</button>
			</div>
		</div>
	</div>
</div>
<!-- /ko -->

<script type="text/html" id="confirm-reset-password-template">
	<div class="confirm-reset-password confirmation-dialog">
		<h1>Reset Password</h1>
		<span>Are you sure you want to reset <b data-bind="text: user().name"></b>'s password? An email will be sent to the user with instructions on how to reset their password.</span>
		<div class="confirm-container">
			<button data-bind="click: confirm, css: { loading: loading }">Reset Password</button>
		</div>
		<div>
			<button data-bind="click: cancel">Cancel</button>
		</div>
	</div>
</script>

<script type="text/html" id="confirm-delete-user-template">
	<div class="confirm-delete confirmation-dialog">
		<h1>Delete User?</h1>
		<span class="warning"><b>WARNING:</b> This action is irreversible.</span>
		<span>Once deleted, <b data-bind="text: user().name"></b> will still be assigned to any issues he or she is currently assigned to, but won't be assignable to any new or existing issues. Are you sure you want to continue?</span>
		<div class="confirm-container">
			<button id="confirm-delete" data-bind="css: { loading: loading }, click: confirm">Delete User</button>
		</div>
		<div>
			<button id="cancel-delete" data-bind="click: cancel">Cancel</button>
		</div>
	</div>
</script>

<script type="text/html" id="edit-user-template">
	<div class="edit-user form">
		<h1>Edit User</h1>
		<input type="text" placeholder="Name..." data-bind="value: user().name" />
		<input type="text" placeholder="Email address..." data-bind="value: user().emailAddress" />
		<div class="button-container first">
			<button data-bind="click: save, css: { loading: loading }">Save</button>
		</div>
		<div class="button-container">
			<button data-bind="click: cancel">Cancel</button>
		</div>
	</div>
</script>

<script type="text/html" id="create-user-template">
	<div class="create-user form">
		<h1>Create User</h1>
		<input type="text" placeholder="Name..." data-bind="value: user().name" />
		<input type="text" placeholder="Email address..." data-bind="value: user().emailAddress" />
		<div class="button-container first">
			<button data-bind="click: save, css: { loading: loading }">Save</button>
		</div>
		<div class="button-container">
			<button data-bind="click: cancel">Cancel</button>
		</div>
	</div>
</script>