<header>
	<div id="project-switcher">
		<h3 data-bind="text: $root.selectedProject().name"></h3>
		<i class="fa fa-angle-down"></i>
	</div>
</header>

<script id="project-switcher-dialog" type="text/html">
	<div class="project-switcher-dialog select-dialog" data-bind="foreach: $root.projects">
		<div data-bind="text: Name, css: { selected: Name.toLowerCase() == $root.selectedProject().name.toLowerCase() }, attr: { 'data-project': JSON.stringify($data) }"></div>
	</div>
</script>