<header>
	<div class="menu">
		<a data-bind="attr: { href: '#/' + IssueTracker.selectedProject().name.formatForUrl() + '/issues' }">
			<i class="fa fa-list"></i>
			<span>Issues</span>
		</a>
		<a data-bind="attr: { href: '#/' + IssueTracker.selectedProject().name.formatForUrl() + '/users' }">
			<i class="fa fa-user"></i>
			<span>Users</span>
		</a>
	</div>
	<div class="account">
		<a id="create-issue" data-bind="attr: { href: '#/' + IssueTracker.selectedProject().name.formatForUrl() + '/new-issue' }">
			<i class="fa fa-plus"></i>
		</a>
	</div>
</header>