@using System.Web.Optimization
@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<title>Unnamed Issue Tracker</title>
	
	@Styles.Render("~/style")
</head>
	<body>
		<header></header>
		<section class="content"></section>
		
		@Html.Partial("~/Views/Shared/Scripts.cshtml")
	</body>
</html>
