slide-menu.settings {
	span.sub { color:@primary-font-colour-lightest; margin-top:4px; font-size:0.875em; }

	>div { width:400px;
		@link-height:34px;
		>a { float:left; width:100%; padding:@small-spacing @spacing; .border-box; border-top:solid 1px @border-colour-dark; cursor:pointer; color:@primary-font-colour-dark-background; text-decoration:none;
            &:hover { background:lighten(@dark-gradient-bottom-colour, 5%); }
            
			@icon-width:20px;
			>div { float:left; width:100%; position:relative; padding-right:@icon-width; .border-box;
				>span { float:left; width:100%; }
				>span.description { margin-top:@tiny-spacing; }
			}
			>i { float:right; .vertical-centre(@link-height); width:@icon-width; text-align:right; margin-left:@icon-width*-1; margin-right:0; font-size:1.25em; font-weight:bold; }
		}

		>a.account {
			>div.image { float:left; margin-right:@small-spacing; .border-box; width:auto; padding-right:0;
				>img { float:left; width:34px; border:solid 1px @border-colour-darkest; }
			}
			>div.labels { float:left; width:auto; padding-right:0;
				>span { float:left; }
				>span.name { color:@primary-font-colour-dark-background; }
			}
		}

		>a.sign-out { cursor:default;
			>span { float:right; width:auto; text-decoration:underline; cursor:pointer; font-size:0.875em; }
		}
		>a.sign-out:hover { background:@dark-gradient-bottom-colour !important; }
	}
}