@spacing:15px;
@small-spacing:8px;

@dark-gradient-top-colour:#222222;
@dark-gradient-bottom-colour:#555555;
@tile-gradient-light-colour:#FFFFFF;
@tile-gradient-dark-colour:#FFFFFF;
@dialog-gradient-light-colour:#555555;
@dialog-gradient-dark-colour:#222222;

@border-colour:#C0C0C0;
@border-colour-dark:#606060;

@low-priority:#0F7AD1;
@medium-priority:#03AD1D;
@high-priority:#E8E34F;
@critical-priority:#BF0000;

@low-priority-font-colour:#5295a5;
@medium-priority-font-colour:#eeb838;
@high-priority-font-colour:#f27b56;
@critical-priority-font-colour:#CF3A3C;

@low-priority-background:#5295a5;
@medium-priority-background:#eeb838;
@high-priority-background:#f27b56;
@critical-priority-background:#CF3A3C;
	
@primary-header-font-colour:#000000;
@primary-sub-header-font-colour:#444444;
@primary-font-colour:#777777;
@primary-font-colour-light:#BBBBBB;
@primary-font-colour-dark-background:#DDDDDD;
@secondary-font-colour:#F66B00;
@secondary-font-colour-light:#F28D3F;
@secondary-font-colour-dark-background:#F59538;
@secondary-background-colour-top:#FF9A4D;
@secondary-background-colour-bottom:#F66B00;

@hover-colour:#F8F8F8;

.gradient (@top, @bottom) { background:linear-gradient(to bottom, @top, @bottom); }
.horizontal-gradient (@left, @right, @start: 0%) { background: linear-gradient(to right, @left @start, @right); }
.secondary-gradient { .gradient(@secondary-background-colour-top, @secondary-background-colour-bottom); }
.shadow { box-shadow:0 2px 8px rgba(0, 0, 0, 0.3); }
.dark-shadow { box-shadow:0 2px 8px rgba(0, 0, 0, 0.5); }
.box-sizing { box-sizing:border-box; -moz-box-sizing:border-box; }
.border { border:solid 1px @border-colour; }
.dark-background { background:url(../Images/body-background.png); }
.border-radius(@radius: 2px) { border-radius:@radius; }
.border-box { box-sizing:border-box; -moz-box-sizing:border-box; }
.ellipsis { overflow:hidden; text-overflow:ellipsis; }
.table-cell-vertically-aligned { display:table-cell; height:100%; vertical-align:middle; }
.hidden { display:none !important; }
.hover { background:@hover-colour; color:@secondary-font-colour; }

.condensed-font { font-family:"Roboto Condensed"; }
.regular-font { font-family:"Roboto"; }

h1, h2, h3, h4 { .condensed-font; margin:0; padding:0; }
h1 { color:@primary-header-font-colour; font-size:1.875em; }
h2 { color:@primary-sub-header-font-colour; font-size:1.5em; }
h3 { font-size:1.25em; }

input[type='text'], input[type='password'], select, textarea, input[type='date'] { .border; padding:3px 5px; font-size:1em; .condensed-font; .border-radius; .box-sizing; }
input:focus, textarea:focus, select:focus { outline:none; border-color:#F2BC6F; box-shadow:0 0 10px #F2BC6F; transition:box-shadow linear 125ms; -webkit-transition:box-shadow linear 125ms; }
button { padding:5px; .secondary-gradient; color:white; .border-radius; .condensed-font; .box-sizing; border:none; cursor:pointer; }

body { margin:0; padding:0; background:url(../Images/background.png); font-size:16px; .condensed-font; }
.content-container { float:left; width:100%; .border-box; padding:@spacing; }

div.tile { padding:@spacing; .border-radius; .gradient(@tile-gradient-light-colour, @tile-gradient-dark-colour); .box-sizing; .shadow; color:@primary-font-colour; }
