@import "Global.less";

header { float:left; width:100%; height:50px; .gradient(@dark-gradient-top-colour, @dark-gradient-bottom-colour); color:@primary-font-colour-dark-background;
	>#project-switcher { float:right; border-left:solid 1px @border-colour-dark; cursor:pointer; display:table; padding:@small-spacing @spacing; .border-box;
		h3 { .table-cell-vertically-aligned; color:inherit; font-weight:normal; }
		i { font-size:1.125em; .table-cell-vertically-aligned; text-align:right; padding-top:3px; padding-left:@spacing; }
	}
	>div.project-switcher:hover { color:@secondary-font-colour-dark-background; }
}