@import "Global.less";

.issues-container {
	div.table-tools { float:left; width:100%; }
	div.issues-container { float:left; width:100%; margin-top:@spacing; }

	div.table-tools { margin-top:0; height:61px;
		>div.filter-tags { float:left; height:100%;
			>div.filters { float:left; height:100%; display:table;
				>div { .table-cell-vertically-aligned; margin-left:@spacing; padding-left:@spacing; padding-right:@spacing; border-left:solid 1px @border-colour; cursor:pointer;
					>* { .table-cell-vertically-aligned; }
					>span.selected { color:black; }
					>i { padding-left:@small-spacing; padding-top:3px; font-size:1.125em; }
				}
				>div:first-child { padding-left:0; border-left:none; }
				>div:hover>* { color:@secondary-font-colour !important; }
			}
			>div.loading { float:left; display:table; height:100%;
				>img { .table-cell-vertically-aligned; }
			}
		}

		>div.filter { float:right; margin-right:@spacing; }

		>div.tools { float:right; display:table; height:100%;
			>i { display:table-cell; vertical-align:middle; font-size:1.25em; padding:@small-spacing; cursor:pointer; color:@primary-font-colour-icon; }
			>i:hover { color:@secondary-font-colour; }
		}
	}

	div.issues-container.table { font-family:"Roboto Condensed"; font-size:1em; padding:0;
		>div.data {
			>a { border-top:solid 1px #DDD; cursor:pointer; height:72px; display:block; color:@primary-font-colour;
				>div { float:left; height:100%; .box-sizing; padding:@spacing; }
				>div.priority { padding:0; width:8px; }
				>div.priority.low { background-color:@low-priority-background; }
				>div.priority.medium { background-color:@medium-priority-background; }
				>div.priority.high { background-color:@high-priority-background; }
				>div.priority.critical { background-color:@critical-priority-background; }
				>div.name { padding:@small-spacing;
					>div { height:100%;
						>h3.name { float:left; width:100%; font-weight:bold; color:black; margin-bottom:4px; font-size:1.375em; padding-left:@small-spacing; }
						>span.info { float:left; width:100%; color:@primary-font-colour-light; padding-left:@small-spacing; white-space:nowrap; overflow:hidden; font-size:1em; }
						>span.info b { color:@primary-font-colour-dark; font-weight:normal; }
					}
				}
				>div.status { float:right; text-align:right; display:table;
					>span { .table-cell-vertically-aligned; }
				}
			}
			>a:first-child { border-top:none; }
			>a:hover { background-color:@hover-colour; }
		}
		>div.loading { float:left; width:100%; text-align:center; display:none;
			>img { margin:auto; width:30px; height:30px; }
		}

		table { float:left; width:100%; border-collapse:collapse; table-layout:fixed; }
		
		tr:hover>td { background-color:@hover-colour; }
		td, th { padding:@spacing; text-align:left; white-space:nowrap; overflow:hidden; }
		th { font-weight:bold; padding-top:6px; padding-bottom:6px; color:@secondary-font-colour; border-bottom:solid 1px @border-colour; }
		
		
		tfoot { display:none; }
		tfoot td { text-align:center; }
		tfoot img { margin:auto; width:30px; height:30px; }
	}
}

div.sort-dialog {
	>div { padding:0; width:100%; cursor:default;
		>span { float:left; padding:@spacing; }
		>i { float:right; padding:((@spacing)-2) ((@spacing)-2) ((@spacing)-10) ((@spacing)-2); margin:6px; cursor:pointer; height:21px; .border-radius(2px); font-weight:bold; }
		>i:hover { .secondary-gradient; color:white; }
	}
	>div:hover { color:inherit !important; }
}

div.text-filter-dialog { float:left; width:100%; .box-sizing; padding:@small-spacing;
	>input { float:left; width:100%; }
	>div.buttons { float:left; width:100%; margin-top:@small-spacing; 
		>button { float:right; width:48%; }
		>button:first-child { float:left; }
	}
}