@import "Global.less";

.issues-container {
	div.table-tools { float:left; width:100%; }

	div.table-tools { margin-top:0; height:61px;
		@search-height:31px;
		>div.search { float:left; border:solid 1px @border-colour; .border-radius; .border-box; height:@search-height;
			>input { float:left; width:500px; height:100%; border:none; padding:@small-spacing; .border-box; margin:0; outline:none !important; box-shadow:none !important; }
			>i { float:left; height:100%; margin-left:@spacing; vertical-align:middle; line-height:@search-height; padding:0 @small-spacing; cursor:pointer; color:@primary-font-colour-light; }
		}
		>div.tools { float:right; display:table; height:100%;
			>i { display:table-cell; vertical-align:middle; font-size:1.25em; padding:@small-spacing; cursor:pointer; color:@primary-font-colour-icon; }
			>i:hover { color:@secondary-font-colour; }
		}
	}

	div.data-container { float:left; width:100%;
		@filter-width:250px;
		>div.issues-container { float:left; width:100%; min-height:1px; font-size:1em; padding-right:@filter-width+@spacing; position:relative; .border-box;
			>div.tile { float:left; width:100%; padding:0;
				>div.data {
					>a { border-top:solid 1px @border-colour; cursor:pointer; height:67px; display:block; color:@primary-font-colour;
						>div { float:left; width:100%; height:100%; display:table; table-layout:fixed;
							>div { display:table-cell; height:100%; white-space:nowrap; }
							>div.priority { padding:0; width:8px; }
							>div.priority.low { background-color:@low-priority-background; }
							>div.priority.medium { background-color:@medium-priority-background; }
							>div.priority.high { background-color:@high-priority-background; }
							>div.priority.critical { background-color:@critical-priority-background; }
							>div.name { padding:@small-spacing;
								>.name { float:left; width:100%; font-weight:bold; color:black; margin-bottom:4px; padding-left:@small-spacing; .ellipsis; }
								>span.info { float:left; width:100%; color:@primary-font-colour-light; padding-left:@small-spacing; white-space:nowrap; overflow:hidden; font-size:1em; .ellipsis; }
								>span.info b { color:@primary-font-colour-dark; font-weight:normal; }
							}
							>div.status { width:200px; text-align:right; vertical-align:middle; height:100%; line-height:67px; .border-box; padding:0 @spacing; }
						}
					}
					>a:first-child { border-top:none; }
					>a:hover { background-color:@hover-colour; }
				}
			}
			>div.loading { float:left; width:100%; text-align:center; padding:@spacing; .border-box;
				>img { margin:auto; width:30px; height:30px; }
			}
			>div.sort { margin-bottom:@spacing;
				@width:150px;
				>div { float:left; padding:@small-spacing; border-left:solid 1px @border-colour; width:@width;
					>span { float:left; margin-right:@small-spacing; text-align:center; width:100%; }
					>div { float:left; width:100%; margin-top:@small-spacing;
						>i { float:left; width:@width/2-@small-spacing/2; margin-left:@small-spacing; .border-box; padding:@tiny-spacing; font-weight:bold; color:@primary-header-font-colour; .border-radius; background-color:@hover-colour; border:solid 1px @border-colour; cursor:pointer; text-align:center; }
						>i:first-child { margin-left:0; }
						>i.selected { .secondary-gradient; color:white; }
					}
				}
				>div:first-child { border-left:none; }
			}
		}
		>div.selectable-container { float:left; position:fixed; width:@filter-width; position:relative; margin-left:@filter-width*-1;
			>div { float:left; width:@filter-width;
				>button { float:left; width:100%; }
				>div.tile { float:left; width:100%; margin-top:@spacing;
					@height:19px;
					@local-spacing:@spacing;
					>h2 { float:left; width:100%; padding:@small-spacing @local-spacing; }
					>div { float:left; width:100%; padding:@small-spacing @local-spacing; border-top:solid 1px @border-colour; .border-box; cursor:pointer;
						>* { height:@height; line-height:@height; display:inline-block; vertical-align:middle; }
						>span { float:left; }
						>i { float:right; display:none; }
					}
					>div.selected { color:@secondary-font-colour !important;
						i { display:inline-block; }
					}
					>div:hover { .hover; }
				}
			}
		}
	}
}

div.sort-dialog { float:left; width:100%; .dark-gradient;
	>div { float:left; width:100%; padding:@spacing; border-top:solid 1px @border-colour-dark; cursor:pointer; .border-box;
		>* { line-height:19px; display:inline-block; vertical-align:middle; color:@primary-font-colour-lightest; }
		>span { float:left; }
		>i { float:right; margin-left:@small-spacing; width:20px; text-align:center; .border-radius; }
		>i:hover { .secondary-gradient;; }
	}
	>div:first-child { border-top:none; }
	>div:hover>span { color:@secondary-font-colour-light; }
	>div.selected { color:@secondary-font-colour-light;
		>i { display:inline-block; }
	}
}

div.text-filter-dialog { float:left; width:100%; .border-box; padding:@small-spacing; .dark-gradient;
	>input { float:left; width:100%; }
	>div.buttons { float:left; width:100%; margin-top:@small-spacing; 
		>button { float:right; width:48%; }
		>button:first-child { float:left; }
	}
}

div.saved-filter-dialog { float:left; width:900px;
	>div.tile { float:left; width:100%; .dark-shadow;
		>div.header { float:left; width:100%; cursor:pointer; height:63px;
			>h1 { float:left; color:@secondary-font-colour; line-height:33px; display:inline-block; vertical-align:middle; color:inherit; }
			>div.buttons { float:right; margin-top:2px;	}
		}

		>div.name { float:left; width:100%; margin-top:@spacing;
			>input { float:left; width:100%; padding:@small-spacing; font-size:1.125em; }
		}

		>div.choices { float:left; width:100%; margin-top:@spacing;
			>div { float:left; width:24.25%; margin-left:1%; padding:0; }
			>div:first-child { margin-left:0; }
		}
	}
}